{% extends 'manage_lists/list_viewer.html' %}


{% block title %}
Глобальная коллекция персонажей Dungeons&nbsp;&amp;&nbsp;Dragons
{% endblock title %}


{% block trash_icon %}
<a href="#" class="refuseHeroBtn"
   data-toggle="tooltip" data-placement="top"
   title="Отозвать публикацию">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash pt-2 pb-2 pr-2"
         fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
</a>
{% endblock trash_icon %}


{% block download_icon %}
<span class="pl-1" id="id_downloads_counter" style="color: #5e5e5e; font-size: 0.8em;">
    {{ hero.downloads }}
</span>

<a href="#" class="saveToMeBtn" data-toggle="tooltip" data-placement="top"
   title="Добавить героя к себе">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill pt-2 pb-2 pr-2"
         fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
    </svg>
</a>
{% endblock download_icon %}