{% extends 'base_page_struct.html' %}


{% block title %}
Профиль {{ request.user.username }}
{% endblock title %}


{% block link_css %}
{{ block.super }}

{% load static %}
<link rel="stylesheet" href="{% static '/main_man/css/main-style.css' %}">
{% endblock link_css %}


{% block content %}
{{ block.super }}
{% load static %}

<div class="container-fluid">
    <div class="row py-2">
        <div class="col-sm-12 col-md-6 col-lg-3 mb-1 px-0 px-md-3">
            <a href="{% url 'manage_dices:roll_page' %}" class="indexPageMenu-item">
                <svg class="indexPageMenu-item_svg" viewBox="15 18 185 228" fill="#eec500">
                    <use xlink:href="#diceIcon"></use>
                </svg>
                <h2 class="pr-3 pl-3">БРОСИТЬ КОСТИ</h2>
                <p>В этом разделе вы можете бросить необходимые комбинации кубиков и сохранить их для быстрого
                    доступа</p>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-1 px-0 px-md-3">
            <a href="{% url 'manage_lists:locale_collection' %}" class="indexPageMenu-item">
                <svg class="indexPageMenu-item_svg" viewBox="28 0 160 210" fill="#eec500">
                    <use xlink:href="#localIcon"></use>
                </svg>
                <h2 class="pr-3 pl-3">ЛОКАЛЬНАЯ КОЛЛЕКЦИЯ</h2>
                <p>Здесь вы можете управлять своими листами персонажей</p>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-1 px-0 px-md-3">
            <a href="{% url 'manage_lists:collection' %}" class="indexPageMenu-item">
                <svg class="indexPageMenu-item_svg" viewBox="-130 13 245 275" fill="#eec500">
                    <use xlink:href="#globalIcon"></use>
                </svg>
                <h2 class="pr-3 pl-3">ГЛОБАЛЬНАЯ КОЛЛЕКЦИЯ</h2>
                <p>Здесь вы можете просматривать опубликованные пользователями листы персонажей</p>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-1 px-0 px-md-3">
            <a href="{% url 'manage_lists:create_hero' %}" class="indexPageMenu-item">
                <svg class="indexPageMenu-item_svg" viewBox="-40 -4 202 214">
                    <use xlink:href="#id_hero_creator"></use>
                </svg>
                <h2 class="pr-3 pl-3">СОЗДАТЬ ПЕРСОНАЖА</h2>
                <p>Заполните новый лист персонажа</p>
            </a>
        </div>
    </div>
</div>

{% endblock content %}