body {
	margin: 0px;
	color: #aaa;
}

.container {
	display: flex;
	 margin: 30px auto 0;
  	width: 96%;
	margin-top: 75px;
	height: 85%;
	background-color: rgba(18,15,15,0.6);
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: flex-start;
	overflow-y: auto;
	height: 90vh;
	width: 96%;
	margin: auto;
	margin-top: 30px;
	background-color: rgba(18,15,15,0.6);
}

.item {
    background-image:url('../images/hero.png');
    background-size: contain;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 0 5px 5px 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 20px;
	min-height: 275px;
	height:40%;
    width:13.1%;
    min-width: 200px;
	border: 3px solid #FFA500;
}

.input_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	min-height: 1rem;
	max-height: 2rem;
}
.input_container svg {
	display: block;
	height: 2rem;
	margin-left: 3px;
}

.input_container svg:hover {
	cursor: pointer;
}

.heroName {
    font-weight: 700;
    text-align: center;
}

.list_action_item {
    margin: 5px 0 0 5px;
}

.list_action_item:hover {
    cursor: pointer;
}

.listItemActionCounter {
    margin-left: 7px;
    font-size: 1.1rem;
}

.deleteIcon {
    padding: 3px;
    border: 2px solid #aaa;
    border-radius: 3px;
    min-height: 10px;
    max-height: 1.5rem;
    margin-left: 10px;
}

.setLike {
    min-height: 10px;
    max-height: 1.5rem;
}

.saveInMyCollection {
    min-height: 10px;
    max-height: 1.5rem;
}