html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	border: 0;
	min-width: 1024px;
}

body {
	max-width: 1980px;
}

* {
	box-sizing: border-box;
}

input, textarea {
	padding: 5px;
	background: #e8e8ff;
	border: 0;
}

input[type=file]:hover {
	cursor: pointer;
}
/* =================================== */
.pdfPage, .headerPdf {
	width: 90%;
	margin: auto;
	padding: 10px;
	background: #fff;
}

.headerPdf {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.pdfPageRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

.characterName {
	width: 40%;
	min-height: 150px;
	padding: 70px 20px 0px 100px;
	background: url("../images/borders/characterName.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}
.characterName input {
	padding: 5px;
}
.characterName .inputLabel {
	margin: 1rem 0 0 1rem;
}

.baseFeatures {
	width: 60%;
	padding: 30px;
	background: url("../images/borders/baseFeatures.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.baseFeatures .fieldItem {
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.baseFeatures .pdfPageRow .fieldItem input {
	display: block;
	width: 100%; 
	padding: 5px;
}

/* ============================ */
.pdfPage {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 5px;
}

.pdfColumn {
	display: block;
	width: 33%;
	max-width: 33.3%;
	padding: 0 2px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}
/* START FIRST COLUMN STYLES 		<<<================================ */

.pdfColumnFirst {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

.hi {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-grow: 1;
}

.firstSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 30%;
	min-width: 100px;
	padding: 5px;
}
/* ======================= */

.sixOfSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 6rem;	
	padding: 0.7rem 1rem 0.5rem 1rem;
	margin-bottom: 1rem;
	background: url("../images/borders/sixOfSection.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.sixOfSection .inputLabel {
	text-align: center;
	font-size: 0.7rem;
}

.sixOfSection input {
	display: block;
	max-width: 100%;
}


.sixOfSection .sixOfSectionFirstField {
	/*min-height: 50px;*/
	font-size: 2rem !important;
	text-align: center;
}

.sixOfSection .sixOfSectionSecondField {
	width: 40%;
	height: 30px;
	margin: 1rem auto 0;
	text-align: center;
}

.secondSection {
	width: 70%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.inspiration, .proficiency {
	width: 100%;
	margin-bottom: 10px; 
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inspirationFirst input{
	display: block;
	width: 100%;
	height: 2rem;
	margin: 0.3rem auto;
	text-align: center;
}

.inspirationFirst {
	width: 4rem;
	height: 4rem;
	padding: 10px;
	background: url("../images/borders/inspirationFirst.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.inspirationSecond {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center; 
	width: 14rem;
	height: 4rem;
	padding: 10px;
	background: url("../images/borders/inspirationSecond.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.proficiency {
	position: relative;
}
.proficiencyFirst {
	width: 4rem;
	height: 4rem;
	padding: 10px;
	background: url("../images/borders/inspirationFirst.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.proficiencySecond {
	position: relative;
	left: -20px;
	width: 14rem;
	height: 3rem;
	padding: 10px;
	margin: 0.5rem;
	background: url("../images/borders/inspirationSecond.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.proficiencyFirst input {
	display: block;
	width: 100%;
	height: 2rem;
	margin: 0.3rem auto;
	text-align: center;
}

 .proficiencySecond .inputLabel {
	padding: 0 0 0 20px;
}
/* ================================ */

.savingTrows {
	width: 100%;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/savingThrows.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}
.savingTrowsElem {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px 0;
}

.savingTrowsElem * {
	padding: 5px;
	font-size: 0.7rem;
}
.savingTrowsElem input[type=text] {
	width: 3rem;
	padding: 0;
	border-bottom: 1px solid black;
	text-align: center;
}

.savingTrowsElem input[type=checkbox] {
	width: 2rem;
	height: 1rem;
}

.savingTrows > p.inputLabel {
	text-align: center;
}
/* ================================ */
.skills {
	width: 100%;
	min-height: 300px;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/skills.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.skillsElem {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px 0;
}

.skillsElem * {
	padding: 5px;
	font-size: 0.7rem;
}
.skillsElem input[type=text] {
	width: 3rem;
	padding: 0;
	border-bottom: 1px solid black;
	text-align: center;
}

.skillsElem input[type=checkbox] {
	width: 1rem;
	height: 1rem;
}

.skills > p.inputLabel {
	text-align: center;
}
/* ================================ */

.preception {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 1rem 5px;
	margin-bottom: 1rem;
	background: url("../images/borders/Perception.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.preception input[type=text] {
	display: block;
	width: 2rem;
	text-align: center;
	padding: 5px;
	margin-left: 10px;
	margin-right: 50px;
}

.preception .inputLabel {

}
/* ================================ */

.proficienciesLanguages {
	width: 100%;
	padding: 1rem;
	min-height: 200px;
	background: url("../images/borders/profLanguages.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	flex-grow: 3;
}

.proficienciesLanguages textarea {
	display: block;
	width: 100%;
	padding: 5px;
	flex-grow: 1;
	background: #e8e8ff;
	border: none;
}

.proficienciesLanguages .inputLabel {
	flex-grow: 0;
}

/* END FIRST COLUMN STYLES 		<<<================================ */
/* START SECOND COLUMN STYLES 	>>>================================ */

.shilds {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	margin-bottom: 0.5rem;
	flex-grow: 0;
}

.armor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 5rem;
	max-width: 33.3%;
	min-height: 6rem;
	padding: 1rem;
	margin: 0 5px;
	background: url("../images/borders/armor.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.armor input {
	display: block;
	width: 3rem;
	height: 3rem;
	text-align: center;
	font-size: 2rem;
}

.armor p {
	text-align: center;
	font-size: 0.7rem;
}

/* ====== */
.initiative, .speed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	width: 8rem;
	max-width: 33.3%;
	min-height: 6rem;
	padding: 0.7rem;
	margin: 0 5px;
	background: url("../images/borders/rect_armor.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.initiative input, .speed input {
	display: block;
	max-width: 90%;
	text-align: center;
	font-size: 2rem;
	flex-grow: 0;
}

.initiative p, .speed p {
	text-align: center;
	font-size: 0.7rem;
	padding-top: 0.3rem;
	flex-grow: 0;
}
/*================================*/

.hitPoints {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/hitPoints.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.hitPointsMax {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: wrap;
}

.hitPointsMax input {
	margin: 5px 0;
	padding: 3px;
	flex-grow: 1;
}

.hitPointsMax p {
	padding: 5px;
	flex-grow: 0;

}
.hitPoints .curHit {
	font-size: 2rem;
	padding: 5px;
	text-align: center;
}

.hitPoints .inputLabel {
	padding: 5px;
	text-align: center;
}

/*======*/
.temporaryhitPoints {
	padding: 1rem;
	background: url("../images/borders/tempHit.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	margin-bottom: 0.5rem;
	flex-grow: 0;
}

.temporaryhitPoints input {
	display: block;
	width: 100%;
	font-size: 2rem;
	padding: 5px;
	text-align: center;
}

.temporaryhitPoints .inputLabel {
	padding: 5px;
	text-align: center;
}
/*====================================*/
.hitSaves {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	max-width: 100%;
	margin-bottom: 0.5rem;
	flex-grow: 0;
}

.hitDice {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	padding: 0.7rem 1rem;
	margin: 0rem 5px 0 0;
	max-width: 50%;
	background: url("../images/borders/hitDice.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}

.hitDiceTotal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	flex-grow: 0;
}

.hitDiceTotal input {
	display: block;
	margin: 0 0 5px 0;
	max-width: 60%;
	flex-grow: 1;
}

.hitDiceTotal p {
	font-size: 0.7rem;
	flex-grow: 0;
	padding: 0 5px;
}

.hitDice .curHit {
	font-size: 1.5rem;
	text-align: center;
	flex-grow: 1;
}

.hitDice .inputLabel {
	text-align: center;
	font-size: 0.7rem;
	flex-grow: 0;
}

/*--*/
.deathSaves {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.7rem;
	margin: 0rem 5px 0 0;
	max-width: 48%;
	background: url("../images/borders/hitDice.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}

.success, .failures {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*flex-wrap: wrap;*/
	padding: 0 5px;
}
.success p, .failures p {
	font-size: 0.7rem;
}

.checkGroup {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.checkGroup input[type=checkbox] {
/*	width: 1rem;
	height: 1rem;*/
}

.deathSaves .inputLabel {
	padding: 5px 0;
	font-size: 0.7rem;
	text-align: center;
}
/*========================================*/

.attackSpellcasting {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	/*align-items: center;*/
	background: url("../images/borders/attacks.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 1rem;
	margin-bottom: 0.5rem;
	flex-grow: 0;
}

.attackComponents {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
	max-width: 100%;
}

.attackComponents .attackColumn {
	display: flex;
	flex-direction: column;
	padding: 5px;
	max-width: 33%;
}

.attackComponents .attackColumn input {
	padding: 5px;
	margin: 5px 0 5px 0;
	max-width: 100%;
	border-radius: 10px 0 10px 0 ;
}

.attackSpellcasting textarea {
	min-height: 9rem;
	width: calc(100% - 10px);
	padding: 5px;
	margin: auto;
	border: none;
}

.attackSpellcasting .inputLabel {
	text-align: center;
}

/* ====================================== */



.equipment {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	padding: 1rem;
	background: url("../images/borders/equipments.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}
.equipment .inputLabel {
	text-align: center;
	flex-grow: 0;
}

.equipmentConsistence {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	flex-grow: 1;
}

.equipmentConsistence textarea {
	width: 70%;	
}

.equipmentConsistence .equipmentElements {
	width: 8rem;
	max-width: 30%;
	padding: 5px;
}

.equipmentElements {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: center;*/
}
.equipmentElements .equipmentElem {
	padding: 0.5rem;
	margin-bottom: 5px; 
	background: url("../images/borders/equipmentElem.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.equipmentElem input {
	max-width: 60%;
	display: block;
	margin: 0px auto;
	text-align: center;
}
/* END SECOND PDF-COLUMN STYLES <<<=================================================*/
/* START THIRD PDF-COLUMN STYLES >>>=================================================*/

.firstPageThirdColumn {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.personalityTraits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/hitPoints.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.personalityTraits textarea {
	font-size: 1.5rem;
	min-height: 4.5rem;
	padding: 5px;
	background: #e8e8ff;
	border: none;
	overflow-y: auto;
}

.personalityTraits .inputLabel {
	padding: 5px;
	text-align: center;
}

/* ideals ======>>> */
.ideals {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/ideals_bonds.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.ideals textarea {
	font-size: 1rem;
	min-height: 3rem;
	padding: 5px;
	background: #e8e8ff;
	border: none;
	overflow-y: auto;
}

.ideals .inputLabel {
	padding: 5px;
	text-align: center;
}

/* bonds ======>>> */
.bonds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/ideals_bonds.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.bonds textarea {
	font-size: 1rem;
	min-height: 3rem;
	padding: 5px;
	background: #e8e8ff;
	border: none;
	overflow-y: auto;
}

.bonds .inputLabel {
	padding: 5px;
	text-align: center;
}

/* flaws ======>>> */
.flaws {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/tempHit.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.flaws textarea {
	font-size: 1rem;
	min-height: 3rem;
	padding: 5px;
	background: #e8e8ff;
	border: none;
	overflow-y: auto;
}

.flaws .inputLabel {
	padding: 5px;
	text-align: center;
}


/* featuresTraits ======>>> */
.featuresTraits {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	padding: 1rem;
	background: url("../images/borders/featuresTraits.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}

.featuresTraits textarea {
	font-size: 1rem;
	min-height: 30rem;
	padding: 5px;
	background: #e8e8ff;
	border: none;
	overflow-y: auto;
	flex-grow: 1;
}

.featuresTraits .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}
/* END THIRD PDF-COLUMN STYLES <<<<<=================================================*/
/* ==================================================================================*/
/*fictive_page_2*/
.headerPdf2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.headerPdf2 .baseFeatures {
	flex-grow: 0;
}
.fictive_2_page {
	width: 40%;
	background: url("../images/borders/fictive_page_2.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
	margin-bottom: 3rem;
}

.secondPageFirtstColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 33%;
	max-width: 33.3%;
	padding: 5px;
}

.characterAppearance {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 300px;
	padding: 2rem 1.5rem;
	margin-bottom: 0.7rem;
	background: url("../images/borders/characterAppearance.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}

.characterAppearance input {
	margin-top: 1em;
	padding: 5px;
	/*height: 200px;*/
	flex-grow: 0;
}

.characterAppearance .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}

/*====================================*/

.characterBackstory {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	background: url("../images/borders/characterBackstory.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 1.5rem;
	flex-grow: 1;
}

.characterBackstory textarea {
	padding: 5px;
	width: 100%;
	flex-grow: 1;
}

.characterBackstory .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}
/* ================================ */
/* END FIRST PDF-COLUMN STYLES <<<<<=================================================*/
.secondPagesecondColumn {
	width: 66%;
	max-width: 66.6%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	flex-grow: 1;
}

.AlliesOrganizations {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	background: url("../images/borders/additional.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 1.5rem;
	margin-bottom: 0.5rem;
	flex-grow: 1;
}

.alien {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
	padding: 5px;
	flex-grow: 1;

	
}

.alien textarea {
	padding: 5px;
	margin: 5px;
	width: 100%;
}

.alien .symbol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
	padding: 2rem 1rem;
	margin: 5px;
	background: url("../images/borders/allies.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.alien .symbol p {
	flex-grow: 0;
}

.alien .symbol input[type=text] {
	width: 100%;
	margin-top: 5px;
	font-size: 1.5rem;
	flex-grow: 0;
}

.alien .symbol input[type=file] {
	width: 100%;
	margin-top: 5px;
	flex-grow: 1;
}

.alien .symbol .inputLabel {
	padding-top: 5px;
	flex-grow: 0;
}

.AlliesOrganizations .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}

/* ========================================= */
.additionalFeaturesTraits {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 100%;
	min-height: 400px;
	padding: 1rem 2rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/additional.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.additionalFeaturesTraits textarea {
	padding: 5px;
	width: 100%;
	flex-grow: 1;
}

.additionalFeaturesTraits .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}
/* ====================================== */
.treasure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 100%;
	min-height: 400px;
	padding: 1rem 2rem;
	margin-bottom: 0.5rem;
	background: url("../images/borders/additional.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.treasure textarea {
	padding: 5px;
	width: 100%;
	flex-grow: 1;
}

.treasure .inputLabel {
	padding: 5px;
	text-align: center;
	flex-grow: 0;
}

/* END SECOND PDF-COLUMN STYLES <<<<<=================================================*/
/* ==================================================================================*/

.headerPdf3 {
	justify-content: center;
	align-items: flex-end;
}

/*spells_img*/
.headerPdf3 .characterName {
	max-width: 50%;
	min-height: 150px;
	padding: 100px 20px 0px 100px;
	background: url("../images/borders/spells_img.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}

.headerPdf3 .characterName .inputLabel {
	margin: 1rem 0 0 1rem;
	padding-top: 10px; 
}

.headerPdf3 .spells {
	width: 50%;
}

.spells {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	background: url("../images/borders/baseFeatures.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 1.5rem 1rem;
}


.spells .fieldItem3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;
	max-width: 33.3%;
	flex-grow: 1;
	/*height: 100%;*/
}

.spells .fieldItem3 input {
	width: 8rem;
	min-height: 3rem;
	background: #e8e8ff url("../images/borders/spell.png") no-repeat;
	border-radius: 15px;
	background-position: left top;
	background-size: 100% 100%;
	padding: 5px 15px;
	text-align: center;
	font-size: 1.5rem;
}
.spells .fieldItem3 p {
	text-align: center;
	font-size: 0.7rem;
	padding: 5px;
	max-width: 100%;
}
/* =================================== */

.thirdPageFirstColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	width: 33%;
	max-width: 33.3%;
}

.slot {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border: 2px solid #e8e8ff;
	width: 100%;
}

.slotHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5rem;
}
/* ===================================== */
.InputsBorderBottom {
	width: 100%;
	padding: 0 10px;
	margin-bottom: 5px;
	font-size: 1rem;
	border-bottom: 1px solid black;
	background-origin: padding-box;
}


.numberOfCantrips {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	width: 3rem;
	background: url("../images/borders/numberOfCantrips.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 0;
}

.numberOfCantrips p {
	width: 100%;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	width: 3rem;
}
/* ==================== */
.slotLineHeader {
	background: url("../images/borders/slotHeader.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 1rem;
	position: relative;
	left: -15px;
	width: 100%;
}

.slotLineHeader p {
	padding-left: 30px;
	max-width: 100%;
}

.slotHeaderExtended {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;

}

.slotsTotal {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
	position: relative;
	left: -34px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 0;
}

.slotsTotal input[type=text] {
	width: calc(100% - 30px);
	font-size: 0.8rem ;

}


.betImg {
	display: block;
	min-height: 1px;
	min-width: 50px;
	background: url("../images/borders/betweenLots.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	padding: 0;
	margin: 0;
	position: relative;
	left: -40px;
	flex-grow: 0;
}

.slotLineHeaderExtended {
	width: calc(100% + 50px);
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	margin-left: -50px; 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background: url("../images/borders/slotHeaderExtended.png") no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	flex-grow: 1;
}

.slotLineHeaderExtended input {
	width: calc(100%);
	font-size: 0.8rem;
}
/* ===================================== */

.slot .cantripsElem {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
/*======================================== */

#IDEALS, #BONDS, #FLAWS {
	font-size: 0.8rem;
}

.characterImg {
	background-position: center center !important;
	background-size: 100% auto !important;
	background-repeat: no-repeat no-repeat !important;
	background-origin: content-box !important;
	background-clip: content-box !important;
}