body {
  margin: 0px;
  color: #aaa;
  height:100%;
  width:100%;
  overflow: hidden;
}

.container {
  display: flex;
  margin: 30px auto 0;
  width: 96%;
  height: 85%;
  overflow-y:auto;
  background-color: rgba(18,15,15,0.6);
  flex-flow: row wrap;
  justify-content: flex-start;
}
.container::-webkit-scrollbar {
    width:12px;
  background:rgba(0, 139, 139, 0.5);
  border-radius:6px;
}
.container::-webkit-scrollbar-track{
    border-width:0;
  height:100%;
}
.container::-webkit-scrollbar-thumb{
    border-radius:6px;
    background:rgb(95, 158, 160);
}

.row {
  display: flex;
  flex-direction: row;
  flex-flow:row wrap;
  justify-content: flex-start;
}

.item{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  min-height: 275px;
  height: 40%;
  min-width: 200px;
  width: 13.1%;
  background:#2F4F4F;
  
  margin: 20px;
  overflow: hidden;
  border: 1px solid #FFA500;
  
  background-size: 100% 110%;
  background-position: center bottom;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  border: 3px solid #FFA500;
}
.buttons{
  position:absolute;
  bottom:0;
  left:0;
  top:101%;
  width:100%;
  height:100%;
  flex-direction: column-reverse;
  z-index:100;
  transition: .5s ease-in-out;
}

.buttons input[type="button"]{
  border:1px;
  width:100%;
  height:15%;
  margin-bottom:1%;
  text-align:center;
  word-wrap: break-word;
  color:#fff;
  font-family:New York;
  background: rgba(38,35,35,1);
  background: rgba(38,35,35,1);
  border: 1px solid #FFA500;
  
}


.hero_name {
    text-align: center;
}

.item:hover .buttons{
transform: skew(0deg) translateY(-63%);

}

.item text{
  width:100%;
  text-align:center;
  word-wrap: break-word;
  color:#fff;
  font-family:New York;
}

.container a{
  position:relative;
  display:flex;
  flex-direction: column-reverse;
  min-height: 275px;
  height:40%;
  min-width: 200px;
  width:13.1%;
  background:#2F4F4F;
  margin: 20px;
  padding: 5px;
  background-size: 80% 55%;
  background-position:center center;
  background-image:url('../images/actions/create_hero.png');
  background-repeat:no-repeat;
  text-decoration:none;
  text-align:right;
  color:#fff;
}

.add_item {
  width: 100%;
  text-align: center;
}

.item_input{
  position:absolute;
  height: 200px;
  width: 150px;
  background:none;
  
}
.input_container{
  display: flex;
  flex-direction: column-reverse;
}

.input_container input{
  background-size: cover;
  width: 30px;
  height: 30px;
}

.top {
  z-index:0;
  position:absolute;
  display: flex;
  top:0%;
  height:52px;
  width:100%;
  background: #000;
  flex-direction: row-reverse;
  align-items:center;

}
.top img{
  height: 52px;
  width: 52px;
  margin-right:7%;
}

.logo{
  top:0%;
  z-index:3;
  position:absolute;
}

.logo img{
  
  height: 52px;
  width: 85%;
}

.filter_column{
  z-index:0;
  top:0px;
  position:absolute;
  display:flex;
  width:18%;
  height:100%;
  background: #555;
}

.filter_container {
  margin-top: 52px;
  flex-direction: column;
  overflow-y: auto;
  height: 87%;
}
.filter_container input {
  height:42px;
  width:100%;
  background: radial-gradient(circle, rgba(18,15,15,1) 40%, rgba(46,42,43,1) 60%);
  color: #aaa;
  border-color: #FFA500;
}

.close {
  position:absolute;
  right:-6px;
  top:-6px;
  width:30px;
  height:30px;
  border-radius:15px;
  background-image:url('../images/actions/cross.png');
  background-size:contain;
  z-index:3;
  
}
.sessions_cnt {
  position:absolute;
  left:36%;
  top:5%;
  width:62%;
  height:90%;
  background: rgba(255,255,255,0.1);
  overflow-y: scroll;
}

.sessions_cnt a{
  margin-top:10px;
  text-decoration:none;
  color:#aaa;
}
#main {
  z-index:1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
#main:target {display: block;}

#info_character {
  position:absolute;
  margin-left:30%;
  margin-top: 10%;
  width: 40%;
  height: 35%;
  
  flex-direction:row-reverse;
  z-index:2;
  padding:8px;
}


.main_cnt {
  background: rgba(18,15,15,0.7);
  flex-flow: row wrap;
}

.action_cnt {
  height:100%;
  width:35%;
  margin:0;
  flex-direction:column;
  
}
.action_cnt input[type="button"] {
  margin-top: 2%;
  height: 23%;
  width: 100%;
  background: radial-gradient(circle, rgba(18,15,15,1) 40%, rgba(46,42,43,1) 60%);
  border-color: #FFA500;
  text-align: center;
  font-size: 20px;
  color: #aaa;
}

._enable {
  fill: #bb7102;
}

._disable {
  fill: #aaa;
}