@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background: #eeeeee;
}

/* .card element */
.hero-instance a {
    color: #0f0f0f;
}

.character_card_appearance {
    max-height: 400px;
    height: auto;
}

/**/

/* .preset element */

.preset {
    background: #0d0d0d;
    color: #6a6a6a;
    border-radius: 2px;
}

.preset svg.bi-trash:hover {
    fill: #AAAAAA;
}
/* =============== */
/* start styles for "index.html" page */
.auth-form {
    max-width: 450px;
    min-width: 320px;
    color: #AAAAAA;
    background: #0d0d0d;
    border: 2px solid #bb7102;
    border-radius: 5px;
    margin: auto;
}

.hi-form-msg {
    font-size: 1.5em;
    font-weight: bold;
}

.toggle-form-btn {
    border: 2px solid #494949;
    border-radius: 2px;
    padding: 0.5em;
    background: #0d0d0d;
    color: #aaa;
}

.toggle-form-btn:hover {
    border: 2px solid white;
    color: white;
}

.auth-form_input-wrapper {
    border: 2px solid #494949;
    border-radius: 3px;
    padding: 10px 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
}

.auth-form_input-wrapper input {
    border: none;
    border-left: 2px solid #494949;
    background: #0d0d0d;
    font-size: 1.3rem;
    padding: 0.2em 0.2em 0.2em 10px;
    flex-grow: 1;
    color: #aaa;
}

.main-action-btn {
    display: block;
    color: #0d0d0d;
    border: none;
    background: #bb7102;
    padding: 0.5em 2em;
    border-radius: 2px;
    text-align: center;
}

.main-action-btn:hover {
    background: #d58000;
    color: white;
    border: none;
}

.help_with_psw {
    color: #AAAAAA !important;
}

.help_with_psw:hover {
    text-decoration: underline;
}

/* end styles for "index.html" page */


/* start <header> block styles */
.main-header {
    background: #0d0d0d;
    border-bottom: 5px solid #bb7102;
}

.main-header_svg {
    height: 3.5em;
    fill: #efcc00;
}

.main-header_svg:hover {
    fill: white;
}

.dropdown-toggle-triangle {
    color: #f0cd00 !important;
    text-decoration: none;
}

.dropdown-toggle-triangle:hover {
    color: white !important;
    text-decoration: none;
}

.main-dropdown-menu {
    background: #0d0d0d;
    color: #AAAAAA;
    border: 3px solid #bb7102;
}

.main-dropdown-menu a {
    color: #AAAAAA;
}

.dropdown-menu_item-email:hover {
    color: #AAAAAA;
    background: #0d0d0d;
}

/* end <header> block styles */

/* start styles for "main_account_page.html" page */
.indexPageMenu-item {
    display: block;
    background: #0d0d0d;
    border-top: 10px solid #bb7102;
    border-bottom: 10px solid #bb7102;
    height: 100%;
    color: #aaaaaa;
    text-decoration: none;
}

.indexPageMenu-item:hover {
    color: #aaaaaa;
    text-decoration: none;
    transform: scale(1.01);
}

.indexPageMenu-item_svg {
    display: block;
    padding: 1em;
    margin: 3em auto;
    max-height: 450px;
    height: 16em;
    fill: #eec500;
}

.indexPageMenu-item h2 {
    text-align: center;
    font-weight: bold;
    min-height: 2.5em;
    color: #aaaaaa;
}

.indexPageMenu-item p {
    padding: 1em;
    text-align: center;
    margin: auto;
    color: #aaaaaa;
}

/* end styles for "main_account_page.html" page */

/* start styles for "local_lists.html" page */
.new-hero-creator {
    border: 5px solid #eec500;
    border-radius: 5px;
}

.new-hero-creator:hover {
    transform: scale(1.005);
}

.new-hero-creator_svg {
    display: block;
    height: 5em;
}

.new-hero-creator_text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eec500;
    text-align: center;
}

/* end styles for "local_lists.html" page */

/* end <footer> block styles */
.main-footer {
    position: absolute;
    bottom: 0;
    border-top: 8px solid #bb7102;
}

/* end <footer> block styles */


/* start styles for "Dops.html" page */

/* СТИЛИ БРОСАЕМОГО КУБИКА */
@keyframes rotate {
    0% {
        transform: rotateX(360deg) rotateY(-720deg) rotateZ(0deg);
        top: -300px;
        left: 600px;
    }
    20% {
        top: 0;
        left: 450px;
    }
    40% {
        top: -100px;
        left: 250px;
    }
    60% {
        top: 0;
        left: 150px;
    }
    80% {
        top: -30px;
        left: 50px;
    }
    100% {
        top: 0;
        left: 0px;
    }
}

.thrown-dice-container .side,
.thrown-dice-container {
    width: 70px;
    height: 70px;
}

.thrown-dice-container {
    display: block;
    position: relative;
    margin: 15px;
    transform-style: preserve-3d;

}

.thrown-dice-container-roll {
    animation: rotate 1.5s ease;
}

.thrown-dice-container .side {
    position: absolute;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    vertical-align: text-bottom;
    border: 1px solid #bb7102;
    background: rgb(2, 0, 25);
    background: -webkit-linear-gradient(left, rgba(2, 0, 25, 1) 0%, rgba(15, 8, 6, 1) 23%, rgba(12, 6, 0, 1) 83%, rgba(0, 22, 27, 1) 100%);
    background: -o-linear-gradient(left, rgba(2, 0, 25, 1) 0%, rgba(15, 8, 6, 1) 23%, rgba(12, 6, 0, 1) 83%, rgba(0, 22, 27, 1) 100%);
    background: linear-gradient(to right, rgba(2, 0, 25, 1) 0%, rgba(15, 8, 6, 1) 23%, rgba(12, 6, 0, 1) 83%, rgba(0, 22, 27, 1) 100%);
}

.thrown-dice-container .edge {
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    vertical-align: text-bottom;
    color: #bb7102;
}

.thrown-dice-container .back {
    transform: translateZ(-35px) rotateY(180deg);
}

.thrown-dice-container .left {
    transform: translateX(-35px) rotateY(-90deg);
}

.thrown-dice-container .right {
    transform: translateX(35px) rotateY(90deg);
}

.thrown-dice-container .top {
    transform: translateY(-35px) rotateX(90deg);
}

.thrown-dice-container .bottom {
    transform: translateY(35px) rotateX(-90deg);
}

.thrown-dice-container .front {
    transform: translateZ(35px);
}

/* СТИЛИ БРОСКА КУБИКА. КОНЕЦ */
/* end styles for "Dops.html" page */