<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Ассистент для игры в Dungeons&nbsp;&amp;&nbsp;Dragons.
                             Этот помощник позволяет создать персонажа, бросить кубики и найти много интересного!"/>
    <meta name="robots" content="all"/>
    <meta charset="UTF-8"/>
    <meta name="yandex-verification" content="c2099f6e6ec6e4e3"/>
    {% load static %}
    <!--  Redefine necessarily  -->
    <title>
        {% block title %}
        Default title
        {% endblock title %}
    </title>

    <!--  Only extend  -->
    {% block link_css %}
    {% load static %}
        <link rel="stylesheet" href="{% static '/main_man/css/reset-style.css' %}" type="text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/main_man/css/main-style.css' %}" type="text/css"/>

    {% endblock link_css %}

    <!--  Only extend  -->
    {% block link_js %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    {% endblock link_js %}

</head>

<body>
<!--  Only extend  -->
{% block header %}
{% load static %}

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" style="position: absolute">
    <g id="globalIcon">
        <path id="globalIconPath"
              d="m 62.934789,284.0062 c -9.718347,-1.4841 -17.57237,-5.46102 -24.5345,-12.42314 -3.652099,-3.65212 -5.816994,-6.54621 -7.957078,-10.63734 l -1.222957,-2.33788 23.116163,-0.13229 c 16.997203,-0.0973 23.256237,-0.21445 23.64533,-0.44267 0.291042,-0.1707 1.064948,-0.86036 1.719792,-1.53257 l 1.190625,-1.2222 0.06967,-28.2992 c 0.03832,-15.56455 0.15776,-28.29919 0.265424,-28.29919 0.52084,0 3.929012,1.0969 6.07123,1.95398 12.798636,5.12064 22.538162,16.23899 25.862862,29.52423 2.50659,10.0161 1.552,20.09558 -2.77484,29.30017 -5.90136,12.55404 -17.312385,21.42118 -31.089903,24.15893 -3.755689,0.74628 -10.777344,0.93657 -14.361821,0.38917 z m -133.31688,-28.95706 c -0.463656,-0.28271 -0.969672,-0.75069 -1.12448,-1.03995 -0.159226,-0.29752 -0.281469,-2.08478 -0.281469,-4.1152 v -3.58927 h -3.981889 c -3.051757,0 -4.164232,-0.0943 -4.7625,-0.40367 l -0.78061,-0.40367 V 144.83701 44.176647 l 0.78061,-0.403669 c 0.692632,-0.358175 7.206435,-0.40367 57.794233,-0.40367 39.120462,0 57.247378,0.08707 57.758449,0.27744 0.409657,0.152593 2.70936,2.226876 5.110454,4.60952 2.478296,2.459254 4.765968,4.500885 5.291666,4.722545 0.599506,0.252783 6.173936,5.649846 15.808854,15.305854 l 14.882812,14.915388 v 85.197625 c 0,76.77581 -0.04082,85.25591 -0.412935,85.78718 -1.035704,1.47867 4.209655,1.38036 -73.591111,1.37929 -70.478711,-0.001 -71.662846,-0.009 -72.492084,-0.51501 z M 70.028622,168.52644 V 87.837748 L 56.51436,87.762382 43.0001,87.687015 42.094569,86.698714 41.18904,85.710411 V 72.345069 58.979724 h -53.445832 -53.445831 v 95.117706 95.1177 H 2.1629996 70.028622 Z M 25.697525,244.2542 c -0.285679,-3.42355 0.04576,-8.36973 0.815652,-12.17207 0.651661,-3.21844 0.660199,-3.37402 0.203552,-3.7085 -0.262157,-0.19203 -2.649537,-1.60386 -5.305292,-3.13742 -2.655756,-1.53356 -4.828646,-2.87561 -4.828646,-2.98235 0,-0.10673 0.922734,-0.41064 2.050521,-0.67536 5.985909,-1.40504 14.715915,-5.21536 20.174478,-8.80542 5.490406,-3.61099 12.170833,-9.44048 12.170833,-10.62053 0,-0.76103 1.076624,-1.38452 4.151283,-2.40406 3.241699,-1.07492 6.779646,-1.81891 9.673196,-2.03414 l 2.315104,-0.1722 v 24.51358 24.51357 H 46.504458 25.89071 Z M -8.9495,220.25642 c -1.891771,-0.3341 -4.399182,-0.85744 -5.572022,-1.16298 -8.583906,-2.23617 -17.758883,-6.80654 -24.722769,-12.31523 -3.516553,-2.78173 -4.7625,-4.06578 -4.7625,-4.90813 0,-0.94906 0.448572,-1.32382 3.307292,-2.76308 5.330309,-2.6836 8.624324,-6.86245 9.765363,-12.38852 0.619369,-2.99961 0.592796,-3.14323 -0.736981,-3.98331 -1.775764,-1.12183 -3.541659,-3.18167 -4.538149,-5.29356 -0.877996,-1.86076 -0.967703,-2.38193 -3.289488,-19.11085 -3.009556,-21.68442 -2.866546,-20.29461 -2.160913,-21.00025 0.660141,-0.66014 1.789041,-0.73324 2.425692,-0.15708 0.416508,0.37694 0.500129,0.20161 1.160159,-2.43243 1.888281,-7.53576 5.997892,-15.84877 10.698461,-21.64107 5.143799,-6.33848 10.198039,-10.36209 17.224964,-13.71254 5.6909018,-2.713435 7.1960634,-4.203674 9.56884136,-9.47398 1.40914962,-3.129939 1.65084914,-3.41702 2.87684094,-3.41702 1.2259918,0 1.4676913,0.287081 2.876841,3.41702 2.3727779,5.270306 3.8779395,6.760545 9.5688407,9.47398 7.183932,3.42531 12.187309,7.4491 17.535567,14.10236 4.569254,5.68417 8.668766,14.13508 10.495293,21.63544 0.556649,2.28579 0.630626,2.43024 1.050208,2.05052 1.031497,-0.93349 2.923249,-0.0911 2.923249,1.30164 0,0.35848 -1.135089,8.84169 -2.522419,18.85156 -2.439045,17.59824 -2.551403,18.26098 -3.399453,20.05185 -1.003774,2.11972 -2.8139,4.25018 -4.5349,5.33744 -1.359527,0.8589 -1.384949,0.99204 -0.763799,4.00028 1.141039,5.52607 4.435054,9.70492 9.765363,12.38852 2.858719,1.43926 3.307291,1.81402 3.307291,2.76308 0,0.84235 -1.245947,2.1264 -4.7625,4.90813 -7.119204,5.63156 -16.32087,10.17235 -25.148036,12.40992 -5.608812,1.42176 -8.518903,1.7181 -16.656129,1.69612 -6.6311752,-0.0179 -7.9554623,-0.0936 -10.980208,-0.62783 z m 19.711458,-3.48166 c 11.073026,-1.45729 21.39204,-5.74358 30.233486,-12.55834 l 2.319949,-1.78816 -1.427668,-0.81682 c -1.489054,-0.85196 -4.133728,-3.08691 -5.416624,-4.57747 -2.405464,-2.79484 -4.041391,-6.21994 -4.915328,-10.29112 l -0.148564,-0.69207 -2.912723,1.8827 c -1.601997,1.03548 -7.943818,5.21501 -14.092939,9.28785 -9.2958834,6.15707 -11.3362918,7.40514 -12.1062557,7.40514 -0.7699639,0 -2.81037231,-1.24807 -12.1062561,-7.40514 -6.1491202,-4.07284 -12.4909412,-8.25237 -14.0929382,-9.28785 l -2.912724,-1.8827 -0.148563,0.69207 c -0.873937,4.07118 -2.509864,7.49628 -4.915329,10.29112 -1.282895,1.49056 -3.92757,3.72551 -5.416624,4.57747 l -1.427667,0.81682 2.319948,1.78816 c 13.387699,10.31889 30.1901217,14.7926 47.16682,12.55834 z m 2.315641,-23.2121 c 5.784159,-3.83302 12.955809,-8.56576 15.937002,-10.51718 7.139445,-4.67333 8.164589,-5.6286 8.776451,-8.17826 0.122227,-0.50932 1.052687,-6.87917 2.06769,-14.15521 1.015002,-7.27604 1.891633,-13.49705 1.948063,-13.82448 0.05643,-0.32742 0.07938,-0.59531 0.05098,-0.59531 -0.02839,0 -0.510524,0.6663 -1.071404,1.48068 -0.56088,0.81437 -1.28133,1.58011 -1.601002,1.70165 -0.400883,0.15242 -6.214035,-0.85224 -18.735656,-3.23798 L 2.2952913,142.7776 -15.859144,146.23657 c -12.52162,2.38574 -18.334772,3.3904 -18.735656,3.23798 -0.319672,-0.12154 -1.040122,-0.88728 -1.601001,-1.70165 -0.56088,-0.81438 -1.048375,-1.48068 -1.083323,-1.48068 -0.03495,0 -0.01752,0.20836 0.03874,0.46302 0.05626,0.25466 0.882598,6.17802 1.836315,13.16302 0.953717,6.985 1.868812,13.35485 2.033547,14.15521 0.676162,3.28515 1.4472,4.06343 8.781068,8.86354 2.890348,1.89177 10.032534,6.61611 15.8715233,10.49853 5.8389888,3.88242 10.7654166,7.06735 10.9476113,7.07761 0.1821974,0.0103 5.0637597,-3.11746 10.8479164,-6.95049 z m -19.372598,-1.63462 c -2.3235681,-1.53769 -4.316042,-2.93957 -4.42772,-3.11529 -0.111678,-0.17572 -0.204877,-9.32002 -0.207105,-20.32067 -0.0039,-19.329 0.01286,-20.01649 0.499517,-20.4569 0.324303,-0.29349 2.0651419,-0.75155 4.8901695,-1.28674 l 4.386601,-0.83102 0.73222646,0.54666 0.73222642,0.54667 0.0675852,23.15756 c 0.0634815,21.75106 0.0393753,23.19154 -0.39687499,23.71703 -0.25545255,0.3077 -0.82164764,0.62224 -1.25821019,0.69898 -0.6757537,0.11879 -1.4217729,-0.27609 -5.0184154,-2.65628 z m 11.5841485,2.5165 c -0.3179074,-0.12809 -0.7055167,-0.47113 -0.861351,-0.7623 -0.1966859,-0.36752 -0.2626624,-7.58497 -0.2157333,-23.60046 l 0.067601,-23.07103 0.7322265,-0.54667 0.7322264,-0.54666 4.3866009,0.83102 c 2.825028,0.53519 4.565867,0.99325 4.890169,1.28674 0.486582,0.44035 0.503569,1.13093 0.503569,20.47248 0,15.62145 -0.07262,20.1055 -0.33073,20.42093 -0.510926,0.62439 -8.5183867,5.78455 -8.9469906,5.76561 -0.2087641,-0.009 -0.6396778,-0.12157 -0.9575879,-0.24966 z m -27.0722905,-12.76771 -4.364275,-2.97998 -0.0685,-13.64563 c -0.06659,-13.26497 -0.05403,-13.65873 0.450358,-14.1152 0.339103,-0.30688 1.921131,-0.73389 4.566419,-1.23254 4.861928,-0.91649 5.070541,-0.92324 5.757042,-0.18637 0.531014,0.56997 0.539475,0.83917 0.539475,17.16224 0,16.37612 -0.0069,16.59188 -0.54837,17.28031 -0.936032,1.18998 -1.592945,0.95315 -6.332146,-2.28283 z m 41.824719,2.28283 c -0.541523,-0.68843 -0.548371,-0.90419 -0.548371,-17.28031 0,-16.32307 0.0085,-16.59227 0.539475,-17.16224 0.686501,-0.73687 0.895115,-0.73012 5.757042,0.18637 2.645289,0.49865 4.227317,0.92566 4.56642,1.23254 0.504389,0.45647 0.516951,0.85023 0.450358,14.1152 l -0.0685,13.64563 -4.364276,2.97998 c -4.7392,3.23598 -5.396113,3.47281 -6.332145,2.28283 z m -50.951343,-10.25024 c -0.445574,-0.32581 -0.546838,-1.13864 -0.964155,-7.73906 -0.623059,-9.85457 -0.62394,-11.27392 -0.0074,-11.83192 0.643744,-0.58259 1.446037,-0.55365 2.01278,0.0726 0.392795,0.43403 0.536353,1.73175 0.958559,8.6651 0.613497,10.07468 0.615215,10.26412 0.09778,10.78156 -0.512836,0.51284 -1.43588,0.5356 -2.097616,0.0517 z m 64.312496,-0.0517 c -0.517432,-0.51744 -0.515715,-0.70688 0.09778,-10.78156 0.422206,-6.93335 0.565764,-8.23107 0.958559,-8.6651 0.582203,-0.64333 1.490022,-0.65507 2.058752,-0.0266 0.561091,0.62 0.554035,2.17973 -0.05332,11.78595 -0.417317,6.60042 -0.518581,7.41325 -0.964155,7.73906 -0.661736,0.48388 -1.58478,0.46112 -2.097617,-0.0517 z m -62.207183,-28.82213 c 1.885611,-0.36301 3.45916,-0.66002 3.496778,-0.66002 0.03762,0 0.10219,-1.2674 0.143495,-2.81645 0.07088,-2.65816 0.112273,-2.8435 0.736555,-3.29777 0.461695,-0.33596 4.460628,-1.20334 13.241395,-2.87209 6.9189622,-1.31492 12.9856488,-2.39077 13.4815203,-2.39077 0.4958715,0 6.5625581,1.07585 13.4815207,2.39077 8.780766,1.66875 12.7797,2.53613 13.241395,2.87209 0.624282,0.45427 0.665679,0.63961 0.736555,3.29777 0.0413,1.54905 0.105876,2.81645 0.143494,2.81645 0.03762,0 1.611167,0.29701 3.496778,0.66002 1.885609,0.36301 3.666506,0.65783 3.957548,0.65516 0.352179,-0.003 0.922814,-0.58239 1.706118,-1.73161 l 1.176951,-1.72676 -0.588171,-3.19235 c -0.323496,-1.75579 -1.122471,-4.75614 -1.7755,-6.66746 -0.653029,-1.91132 -1.241732,-3.69993 -1.308232,-3.9747 -0.0665,-0.27477 -0.784021,-1.82258 -1.594496,-3.43958 l -1.473591,-2.94001 h -3.892373 c -2.938647,0 -4.378592,-0.12241 -5.876747,-0.49961 -3.300728,-0.83103 -6.518569,-2.48329 -8.598958,-4.41527 l -0.79375,-0.73712 -1.455209,0.39558 c -3.2176981,0.87471 -7.5394153,-0.41082 -9.6429983,-2.86838 l -0.9403344,-1.09857 -0.9403344,1.09857 c -2.10358297,2.45756 -6.4253002,3.74309 -9.6429986,2.86838 L -9.74325,116.16628 -10.537,116.9034 c -2.010365,1.86696 -4.859004,3.37709 -8.069791,4.27798 -1.916827,0.53784 -2.843316,0.63146 -6.273512,0.63396 l -4.02455,0.003 -1.473703,2.94 c -0.810538,1.61701 -1.528111,3.16482 -1.594609,3.43959 -0.0665,0.27477 -0.655204,2.06338 -1.308232,3.9747 -0.653029,1.91131 -1.452005,4.91167 -1.7755,6.66746 l -0.588171,3.19235 1.176951,1.72675 c 0.783304,1.14923 1.353939,1.72839 1.706118,1.73162 0.291041,0.003 2.071939,-0.29215 3.957547,-0.65516 z m -10.836714,45.1651 c -2.182812,-1.27416 -6.727973,-3.90295 -10.100354,-5.84174 l -6.131605,-3.52507 -1.938187,1.68944 c -1.670179,1.45582 -3.457082,2.79872 -4.650165,3.49472 -0.26392,0.15396 -0.33073,-7.18618 -0.33073,-36.33518 0,-20.09047 0.0893,-36.52536 0.198438,-36.52199 0.407879,0.0126 4.36096,3.13248 6.171258,4.87053 1.728777,1.65979 1.928659,1.779 2.526252,1.50672 0.562856,-0.25646 10.669169,-6.07382 42.644871,-24.547102 7.0954129,-4.099227 7.9904295,-4.56439 7.9904295,-4.152847 0,0.404643 -1.8579676,3.446756 -2.4243929,3.969538 -0.3400742,0.313873 -2.3493412,1.394603 -4.4650396,2.401626 -5.997688,2.854759 -9.953667,5.782945 -15.335567,11.351265 -5.912985,6.1178 -9.350589,11.28171 -12.305267,18.48477 -1.691479,4.12357 -1.467845,3.85061 -4.634278,5.65647 -1.597313,0.91097 -2.904204,1.75214 -2.904204,1.86926 0,0.11712 0.178594,0.71913 0.396875,1.33781 0.218281,0.61867 0.396875,1.63414 0.396875,2.25659 0,0.62245 0.369252,3.7924 0.82056,7.04434 0.659032,4.7487 0.790639,6.43344 0.668562,8.55844 -0.173455,3.01938 -1.060719,7.12488 -2.281078,10.55488 -0.671415,1.88712 -0.767527,2.39801 -0.485593,2.58124 0.193329,0.12564 1.450126,0.85138 2.792884,1.61277 2.765771,1.56827 2.802175,1.62445 3.256719,5.02636 0.46324,3.46699 1.55385,5.52873 4.529764,8.56333 l 2.39626,2.4435 -0.427165,2.10814 c -0.400502,1.97657 -1.896379,5.87875 -2.248328,5.86505 -0.08747,-0.003 -1.944981,-1.04869 -4.127794,-2.32286 z M 62.487998,100.92538 c -8.816417,-1.3967 -17.171199,-5.531074 -23.615319,-11.686073 -1.272617,-1.21552 -2.447552,-2.160879 -2.610966,-2.100802 -0.163415,0.06008 -4.436245,2.500024 -9.495176,5.422101 -5.058931,2.922076 -9.407475,5.312867 -9.66343,5.312867 -0.685847,0 -6.108808,-2.586561 -6.819241,-3.252536 C 9.5466789,93.92988 8.491428,92.079442 7.3103968,89.406807 6.828109,88.3154 6.0679558,87.027155 5.6211698,86.544036 4.8532538,85.713673 4.8351563,85.646239 5.2902026,85.310827 5.5549552,85.115678 10.77043,82.071623 16.880143,78.546257 23.86433,74.516311 27.942133,72.01512 27.863256,71.809574 27.042132,69.669756 25.843207,64.075946 25.843207,62.38465 v -0.759092 h 6.217708 6.217708 v 12.418191 c 0,8.112977 0.09735,12.676415 0.280811,13.163021 0.340778,0.90388 1.707456,2.373196 2.682613,2.884069 0.58679,0.307414 2.962637,0.374301 13.295312,0.374301 h 12.580847 v 5.423958 5.423962 l -1.256771,-0.0262 c -0.691224,-0.0144 -2.209271,-0.17707 -3.373437,-0.3615 z M -71.78804,147.27714 c 0,-83.553966 0.04065,-92.735626 0.412936,-93.26714 1.028681,-1.468646 -2.306569,-1.380275 52.093715,-1.380275 H 30.87029 v -1.455209 -1.455208 h -53.445831 -53.445832 v 95.117702 95.11771 h 2.116667 2.116666 z M 65.266123,81.27233 c 0,-0.259432 -17.53236,-17.794689 -17.791747,-17.794689 -0.109956,0 -0.199919,4.048125 -0.199919,8.995833 v 8.995833 h 8.995833 c 4.947708,0 8.995833,-0.08864 8.995833,-0.196977 z m -15.08125,-6.745028 v -4.031586 l 3.96875,3.962133 c 2.182812,2.179174 3.96875,3.993388 3.96875,4.031588 0,0.0382 -1.785938,0.06945 -3.96875,0.06945 h -3.96875 z M -92.008251,192.55701 c -15.221109,-1.95233 -29.002999,-12.66564 -34.552399,-26.85917 -8.37028,-21.40843 0.54679,-44.90767 20.92035,-55.1316 5.686207,-2.85347 11.084058,-4.21742 17.51424,-4.42557 l 4.167187,-0.13489 v 43.42655 43.42656 l -3.108854,-0.0335 c -1.709869,-0.0184 -3.933105,-0.1392 -4.940524,-0.26841 z M 78.968086,90.997437 78.892164,81.734975 63.281748,66.097788 C 53.178551,55.977262 47.344632,50.322539 46.74529,50.069264 c -0.524473,-0.221633 -2.819157,-2.2699 -5.291667,-4.723413 -2.401093,-2.382644 -4.700796,-4.456927 -5.110453,-4.60952 -0.409654,-0.15259 -2.165826,-0.277439 -3.902604,-0.277439 -1.736775,0 -3.155786,-0.0893 -3.153354,-0.198438 0.0024,-0.10914 0.547465,-1.210469 1.211188,-2.447396 6.360295,-11.853192 16.763989,-19.646847 30.094027,-22.54416 2.293904,-0.498585 3.525719,-0.586173 8.377862,-0.595705 6.287378,-0.01235 8.884526,0.367033 13.862685,2.025028 21.038606,7.006993 33.530826,29.154509 28.624266,50.74817 -0.84167,3.704074 -1.5145,5.627928 -3.23768,9.257254 -4.25971,8.971804 -11.542798,16.2335 -20.596146,20.535675 -2.167015,1.029769 -6.05536,2.442427 -7.861578,2.85615 l -0.717828,0.16443 z"/>
    </g>
    <!--style="fill:#efcc00;"-->
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" style="position: absolute">
    <g id="diceIcon">
        <path id="diceIconPath"
              d="m 68.684991,243.13292 c -2.157714,-0.92072 -4.011899,-1.97071 -7.774128,-4.40235 -4.705062,-3.04102 -22.869167,-13.86586 -28.178125,-16.79266 -2.692135,-1.48416 -6.031133,-3.45155 -7.419995,-4.37199 -4.591313,-3.04277 -7.454645,-6.74188 -8.701528,-11.24141 -0.538247,-1.94233 -0.547227,-2.46139 -0.547227,-31.63151 0,-26.50285 0.04535,-29.8096 0.426382,-31.09386 0.580338,-1.95598 1.539729,-3.79111 2.922727,-5.59062 2.040256,-2.65472 4.411771,-4.28349 12.261308,-8.42113 2.837656,-1.49578 7.540625,-4.11265 10.451041,-5.81526 14.433235,-8.44355 24.517591,-13.67412 29.779333,-15.44599 1.023586,-0.34469 1.923288,-0.68893 1.999338,-0.76497 0.208645,-0.20865 -1.189951,-2.85595 -4.188529,-7.928164 C 65.929556,93.228782 63.079687,87.517632 62.510301,85.193577 62.14548,83.704494 62.064536,82.576215 62.159149,80.298785 62.37099,75.199553 64.190897,70.94096 70.208123,61.46414 71.96367,58.699245 77.12853,50.186276 81.685592,42.546432 c 4.557059,-7.639843 9.001818,-14.962187 9.877242,-16.271874 2.148623,-3.214476 4.033764,-5.007749 6.50489,-6.187897 l 2.001476,-0.955853 26.06145,-0.08058 c 27.14514,-0.08393 30.96111,0.02666 34.80017,1.008528 4.00786,1.025036 7.58479,3.567897 9.70504,6.899366 1.34762,2.117462 4.74738,8.079258 7.75775,13.603933 1.42728,2.619375 4.91382,8.810625 7.74786,13.758333 5.88165,10.26827 9.67628,17.478653 11.33418,21.536663 l 1.14598,2.805004 -0.001,4.497916 -0.001,4.497917 -1.29487,2.692553 c -0.71219,1.480902 -2.41589,4.457465 -3.78601,6.614584 -3.41337,5.373995 -14.1479,23.328035 -17.13586,28.660575 -5.65633,10.09472 -8.30457,13.0537 -13.56913,15.16124 -3.6066,1.44383 -4.84144,1.57953 -15.46954,1.70003 -5.42065,0.0615 -9.85573,0.15477 -9.85573,0.20734 0,0.0526 0.3429,0.9861 0.762,2.07449 1.29366,3.35958 1.43669,4.34588 1.2468,8.59799 -0.0952,2.13214 -0.34891,13.81833 -0.56376,25.96932 -0.41165,23.28018 -0.5475,25.52859 -1.73581,28.72799 -0.67544,1.81856 -2.0528,4.09648 -3.2427,5.36287 -1.72231,1.83302 -4.91222,3.77163 -18.03007,10.95741 -3.05594,1.674 -7.63984,4.26198 -10.18646,5.75105 -11.974273,7.00168 -17.979481,10.27065 -22.777351,12.39899 l -3.066,1.36003 -4.739311,-0.007 c -4.602634,-0.007 -4.789811,-0.0287 -6.490187,-0.75428 z m 4.446225,-3.27347 c 0.296251,-0.32742 0.683964,-1.01203 0.861584,-1.52135 0.443648,-1.27216 0.715645,-9.69064 1.07711,-33.3375 0.343184,-22.45076 0.343673,-22.44215 -1.484143,-26.15618 -1.074616,-2.18357 -3.094373,-4.38021 -5.566579,-6.05409 -0.853641,-0.57799 -4.230981,-2.57715 -7.5052,-4.44259 -3.274219,-1.86544 -8.393906,-4.88014 -11.377083,-6.69933 -2.983177,-1.81919 -8.221927,-4.99145 -11.641667,-7.04946 -3.41974,-2.05802 -7.408333,-4.50216 -8.863542,-5.43143 -3.17844,-2.02969 -5.164918,-2.8897 -6.69423,-2.89814 -1.041208,-0.006 -1.16921,0.0685 -1.505235,0.87268 -0.201991,0.48344 -0.487718,1.88242 -0.634949,3.10886 -0.263557,2.19544 -0.690586,31.3057 -0.690586,47.07676 v 8.06979 l 0.775534,1.5875 c 0.892142,1.8262 3.231387,4.28751 5.574466,5.86536 2.588252,1.74295 9.092353,5.70172 20.948365,12.7504 6.137328,3.64879 13.633587,8.20307 16.658351,10.12064 7.709681,4.88758 8.934249,5.39091 10.067804,4.13808 z m -9.642631,-6.96288 c -2.648093,-1.3196 -5.59665,-5.37433 -6.53896,-8.9921 -0.566907,-2.17651 -0.521674,-5.52321 0.09294,-6.87628 2.141815,-4.71519 8.844878,-3.1272 12.550761,2.97334 1.982306,3.26323 2.728146,7.01975 2.011376,10.13057 -0.333769,1.4486 -0.799901,1.99068 -2.416815,2.81064 -1.741805,0.88328 -3.868703,0.86605 -5.699302,-0.0462 z M 30.879448,171.83492 c -3.22713,-0.87087 -6.822037,-4.95893 -8.045796,-9.14953 -0.596875,-2.04392 -0.553433,-5.91572 0.08207,-7.31496 1.716865,-3.78017 6.744445,-3.54104 10.525216,0.50062 2.937141,3.13981 4.430068,6.89549 4.2782,10.76244 -0.08292,2.11126 -0.16957,2.44184 -0.912906,3.48271 -1.400222,1.96067 -3.149942,2.46808 -5.926788,1.71872 z m 50.840071,67.20599 c 0.649716,-0.19553 2.722468,-1.24578 4.606113,-2.33388 1.883648,-1.0881 5.389346,-3.02807 7.790439,-4.31104 2.401094,-1.28297 7.520779,-4.14332 11.377079,-6.35632 3.85631,-2.213 9.27365,-5.25368 12.03855,-6.75706 11.69539,-6.35927 14.44908,-8.31725 16.01552,-11.38773 1.23288,-2.41664 1.31482,-3.56099 1.71348,-23.92866 0.49876,-25.48156 0.52516,-33.89986 0.11065,-35.28336 -0.41847,-1.39674 -1.13939,-2.15518 -2.04857,-2.15518 -0.84862,0 -3.86604,1.39838 -6.05392,2.80562 -1.31477,0.84565 -7.37617,4.25594 -25.21529,14.18672 -1.96453,1.09363 -5.893592,3.26915 -8.731249,4.83448 -2.837656,1.56534 -5.936998,3.35869 -6.887427,3.98521 -4.609092,3.03834 -6.448848,5.75179 -7.106716,10.48169 -0.318683,2.29123 -1.209953,47.8361 -1.006488,51.43251 0.139705,2.46939 0.665035,4.23241 1.433782,4.81179 0.542023,0.40851 0.523531,0.40874 1.964047,-0.0248 z m 1.902405,-6.90655 c -3.984625,-2.45257 -3.044926,-10.11032 1.895477,-15.44655 1.984357,-2.14334 4.251894,-3.33771 6.349712,-3.34456 2.147991,-0.007 3.30486,0.71614 4.25614,2.66049 0.656731,1.3423 0.69958,1.63301 0.573228,3.88891 -0.162271,2.8972 -0.819113,4.84145 -2.495947,7.388 -2.142357,3.25353 -4.997746,5.21621 -7.884514,5.4195 -1.362459,0.0959 -1.751857,0.0142 -2.694096,-0.56579 z m 19.886856,-29.68267 c -0.29104,-0.0646 -0.79487,-0.17415 -1.11963,-0.24334 -1.15542,-0.2462 -2.429253,-1.67743 -2.883418,-3.2397 -1.30452,-4.48739 2.029068,-11.81625 6.631848,-14.58003 1.23894,-0.74393 1.83398,-0.92196 3.42218,-1.02389 2.31023,-0.14826 3.24484,0.23937 4.39054,1.82096 1.6808,2.32029 1.63326,5.71259 -0.13166,9.39395 -1.68948,3.52399 -4.26331,6.31612 -6.77557,7.35021 -1.04696,0.43095 -2.78684,0.68785 -3.53429,0.52184 z m 16.93333,-30.35322 c -2.03738,-0.95209 -3.12756,-3.05669 -3.10547,-5.99515 0.04,-5.32034 3.89413,-10.82318 8.80531,-12.57203 1.51862,-0.54078 3.68703,-0.54246 4.72893,-0.004 2.31504,1.19716 3.05197,4.8834 1.78594,8.9336 -1.17967,3.77398 -4.2883,7.79025 -7.16602,9.25835 -1.34888,0.68815 -3.96653,0.8846 -5.04869,0.3789 z m -37.967705,-2.19983 c 3.018692,-1.41219 8.247697,-4.24051 18.256245,-9.87463 12.49676,-7.0348 18.26856,-10.22951 22.225,-12.30162 4.1562,-2.17673 5.68394,-3.18113 6.83813,-4.49568 1.56212,-1.77915 1.09228,-2.63742 -2.93342,-5.35862 -3.56895,-2.41246 -6.31483,-4.05558 -16.47241,-9.85707 -4.65667,-2.65965 -10.37167,-6.08851 -12.700004,-7.61971 -8.206885,-5.39713 -11.473426,-7.19571 -15.556732,-8.56565 -3.380079,-1.134 -6.075842,-1.28801 -8.687314,-0.49631 -2.591112,0.78552 -8.652396,3.87619 -16.898662,8.61669 -3.710781,2.1332 -8.830469,5.01281 -11.377083,6.39913 -2.546615,1.38633 -6.59474,3.61757 -8.995834,4.95832 -2.401093,1.34075 -5.606334,3.08226 -7.122756,3.87002 -4.459496,2.31665 -6.233197,4.34247 -5.310904,6.06579 0.696537,1.30149 5.64549,4.47417 17.674783,11.33099 4.110104,2.34279 9.940307,5.85544 12.956004,7.80587 7.319592,4.73402 8.556101,5.47596 12.037327,7.2227 5.445246,2.73221 8.313245,3.5747 11.702005,3.43754 1.812168,-0.0733 2.440194,-0.23701 4.365625,-1.13776 z M 74.007738,147.4361 c -3.408614,-0.73815 -6.186567,-2.57448 -7.1779,-4.74488 -0.662059,-1.44949 -0.615294,-2.43286 0.192818,-4.05453 1.245846,-2.50009 4.160848,-3.97683 8.308052,-4.20887 7.524967,-0.42103 11.87995,1.90412 11.900386,6.35367 0.02281,4.96521 -6.309375,8.15186 -13.223356,6.65461 z m 86.386462,-8.97094 c 4.57826,-1.67346 7.05557,-4.8524 16.80989,-21.57081 2.08015,-3.56526 5.11368,-8.62542 6.74118,-11.24479 1.6275,-2.61938 3.80906,-6.191254 4.8479,-7.937503 1.03885,-1.74625 2.60014,-4.286843 3.46955,-5.645759 3.1515,-4.925944 3.45246,-7.289556 1.04475,-8.204967 -0.74185,-0.282051 -48.491,-1.218248 -54.02305,-1.059207 -3.02402,0.08694 -3.36041,0.150863 -4.9578,0.942139 -3.56029,1.763599 -6.0885,4.744638 -10.20708,12.03525 -1.42252,2.518106 -4.74499,8.090717 -7.38327,12.383587 -5.56454,9.05431 -8.68001,14.29996 -8.55385,14.40245 0.0489,0.0397 0.64328,0.39207 1.32091,0.78303 l 1.23205,0.71083 1.94295,-1.25758 c 2.96896,-1.92167 4.73617,-2.4679 7.98434,-2.4679 2.28601,0 2.89379,0.0932 3.88451,0.59531 1.6341,0.82828 2.25003,1.98129 2.22611,4.16719 -0.0231,2.11391 -0.69317,3.72591 -2.25129,5.41626 -1.36694,1.48296 -1.45019,1.3669 2.5347,3.53402 1.60073,0.87053 3.60621,2.10011 4.45664,2.7324 0.85042,0.63229 1.79571,1.32821 2.10063,1.54649 0.67265,0.48151 7.72209,0.73682 18.44585,0.66807 6.05792,-0.0388 7.19137,-0.11072 8.33438,-0.52851 z m -8.20209,-2.24987 c -2.92745,-0.75261 -4.35234,-2.74017 -4.01378,-5.59877 0.3435,-2.90037 2.36268,-5.50569 5.86587,-7.56865 2.76705,-1.62946 4.89547,-2.29052 7.40833,-2.30091 2.33686,-0.01 3.31937,0.35295 4.82366,1.78033 2.75349,2.6127 1.14343,7.57595 -3.49224,10.76537 -3.62264,2.49244 -7.7911,3.64266 -10.59184,2.92263 z m -9.57093,-17.74518 c -5.23656,-1.03543 -5.81122,-6.94708 -1.09058,-11.21902 1.72963,-1.56522 5.59462,-3.64481 7.6188,-4.09936 3.66769,-0.8236 7.01833,0.31709 8.21943,2.79823 0.50385,1.04081 0.53581,1.33961 0.29163,2.72589 -0.38079,2.16176 -1.17286,3.57553 -3.05745,5.45729 -1.92006,1.91717 -5.15168,3.6275 -7.96715,4.21659 -2.045,0.42788 -2.40494,0.43867 -4.01468,0.12038 z m 29.42256,-17.34344 c -6.43657,-2.356317 -1.8263,-12.291109 6.87129,-14.807106 2.41558,-0.698767 5.58365,-0.621837 7.17204,0.174159 1.89024,0.947264 2.35296,1.739358 2.35296,4.02784 0,1.561383 -0.13691,2.177666 -0.7704,3.467875 -1.53632,3.128973 -5.47335,6.158602 -9.2976,7.154692 -1.92451,0.50127 -4.93401,0.49297 -6.32829,-0.0175 z m -39.24976,-0.39302 c -1.38976,-0.26997 -2.70057,-1.050395 -3.64056,-2.167508 -0.65258,-0.775547 -0.69486,-0.974995 -0.58139,-2.743012 0.16254,-2.532742 1.07553,-4.382619 3.07797,-6.236528 3.02391,-2.799609 6.98773,-4.316444 10.7726,-4.122357 2.69834,0.13837 3.97163,0.746469 4.84637,2.314525 1.88485,3.378764 -0.56332,8.163396 -5.61248,10.968876 -3.0554,1.697684 -6.44106,2.456374 -8.86251,1.986004 z m -26.82237,17.7346 c 2.63404,-3.94257 17.72986,-29.421649 18.85031,-31.815999 1.88552,-4.029276 1.57506,-7.583104 -1.13721,-13.017277 -0.97149,-1.946442 -18.78194,-34.1735 -22.85913,-41.362364 -1.643214,-2.897318 -3.417915,-5.072011 -4.139105,-5.072011 -0.23943,0 -0.867707,0.379636 -1.396172,0.843636 -1.564519,1.373666 -3.398589,4.253055 -12.018148,18.867822 -2.660602,4.511146 -6.610905,10.967053 -8.778452,14.34646 -6.569969,10.243187 -8.635883,14.752857 -8.883142,19.390928 -0.130259,2.443446 -0.10556,2.585644 0.850247,4.894792 2.416818,5.83882 8.516898,16.983173 11.091873,20.263963 1.113861,1.41917 1.153755,1.44164 3.619312,2.0383 3.772154,0.91286 4.8381,1.43782 12.831826,6.31946 8.776901,5.35992 10.213481,6.18755 10.563291,6.0856 0.14552,-0.0424 0.77755,-0.8449 1.4045,-1.78331 z M 94.008574,91.218846 c -1.609249,-0.481375 -3.75371,-3.241831 -4.499359,-5.79179 -0.490895,-1.67875 -0.555347,-5.537579 -0.130966,-7.840885 0.668417,-3.627808 2.935833,-6.427568 5.664131,-6.993961 1.250201,-0.259541 1.581608,-0.233257 2.569607,0.203787 2.205413,0.975569 3.851683,3.604091 4.630833,7.393831 0.80947,3.937231 -0.30026,8.493699 -2.721309,11.173511 -1.704501,1.88668 -3.447528,2.473335 -5.512937,1.855507 z M 192.14364,78.975403 c 0.56952,-0.197173 1.26671,-0.668187 1.54931,-1.046697 0.46565,-0.623692 0.48197,-0.801952 0.17406,-1.901672 -0.18686,-0.667406 -1.46799,-3.085994 -2.84694,-5.37464 -1.37896,-2.288643 -4.3814,-7.554452 -6.67209,-11.701795 -2.29069,-4.147344 -5.35637,-9.68375 -6.81263,-12.303125 -1.45625,-2.619375 -3.86294,-6.959187 -5.34818,-9.644027 -6.37848,-11.530219 -8.21688,-13.305081 -14.53232,-14.030053 -2.8435,-0.326415 -50.12657,-1.174719 -52.26616,-0.937705 -2.86109,0.316939 -4.12887,1.107688 -4.12887,2.575293 0,0.851734 1.4078,3.699921 3.69939,7.484409 3.02518,4.995979 6.9216,11.8588 10.0753,17.74577 1.59466,2.976716 4.30517,7.881197 6.02337,10.898847 1.7182,3.017647 3.74737,6.681755 4.50926,8.142462 2.71811,5.21118 5.24544,7.776646 8.74909,8.881123 2.58495,0.814874 6.77908,1.013833 29.91442,1.419082 22.17514,0.388427 26.28041,0.357941 27.91299,-0.207272 z M 177.8567,76.310184 c -3.32898,-0.811525 -7.16893,-3.956175 -8.73193,-7.150817 -0.98313,-2.00945 -1.18338,-4.649484 -0.45275,-5.968842 0.8234,-1.486881 2.34514,-2.12326 5.07723,-2.12326 3.92217,0 7.6036,1.539711 10.52268,4.400984 2.40674,2.359089 3.70732,5.615512 3.14213,7.867401 -0.25028,0.997173 -1.47461,2.302963 -2.66725,2.844705 -1.26468,0.574463 -4.79341,0.640953 -6.89011,0.129829 z m -40.62103,-0.922865 c -3.69215,-1.181724 -7.539,-4.1036 -8.84004,-6.714442 -0.9162,-1.838571 -0.95123,-4.597392 -0.0778,-6.127011 2.19507,-3.844206 10.44305,-2.655025 15.29229,2.204815 2.22057,2.225426 2.95028,3.723822 3.10364,6.373074 0.11367,1.963542 0.0923,2.052741 -0.70956,2.966043 -0.45472,0.51789 -1.23098,1.133435 -1.72503,1.367877 -1.24223,0.589476 -5.1024,0.550918 -7.04349,-0.07036 z M 159.2185,40.950223 c -0.64663,-0.135171 -2.01585,-0.647608 -3.0427,-1.138748 -5.93872,-2.840453 -9.14201,-7.924213 -7.28575,-11.562788 1.54627,-3.030939 6.26164,-3.661644 10.96357,-1.466431 5.25704,2.454385 8.13831,6.220845 7.73656,10.113413 -0.2935,2.843784 -1.84818,4.108362 -5.19867,4.228626 -1.09852,0.03943 -2.52637,-0.0389 -3.17301,-0.174072 z m -41.98566,-1.155234 c -5.39763,-1.748609 -9.4865,-6.110201 -9.4895,-10.122435 -0.001,-1.423586 0.10083,-1.755185 0.80784,-2.628714 1.40621,-1.737423 1.94509,-2.000464 4.41381,-2.154482 2.82202,-0.176059 4.48097,0.197122 7.17369,1.613721 6.05901,3.187557 8.72223,8.675845 5.93156,12.223603 -1.40252,1.783014 -5.21035,2.243323 -8.8374,1.068307 z"/>
    </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" style="position: absolute">
    <g id="localIcon">
        <path id="localIconPath"
              d="m 39.840403,210.19083 c -0.463656,-0.28271 -0.969672,-0.75068 -1.124479,-1.03995 -0.159227,-0.29751 -0.281469,-2.08477 -0.281469,-4.1152 v -3.58926 h -3.981889 c -4.252169,0 -5.094632,-0.1963 -5.923926,-1.38028 -0.372414,-0.5317 -0.412935,-10.35308 -0.412935,-100.087428 0,-89.734346 0.04052,-99.55572925 0.412935,-100.08742795 1.031478,-1.47263665 -2.913533,-1.38027565 58.955657,-1.38027565 39.120463,0 57.247373,0.087072 57.758453,0.2774397 0.40965,0.1525918 2.70936,2.2268759 5.11045,4.6095201 2.4783,2.4592543 4.76597,4.5008851 5.29167,4.722545 0.5995,0.2527829 6.17393,5.6498458 15.80885,15.3058538 l 14.88281,14.915388 v 85.197625 c 0,76.7758 -0.0408,85.2559 -0.41293,85.78718 -1.03571,1.47867 4.20965,1.38036 -73.59111,1.37928 -70.478714,-0.001 -71.662849,-0.009 -72.492087,-0.51501 z M 180.25111,123.66814 V 42.979448 l -13.51426,-0.07537 -13.51426,-0.07537 -0.90553,-0.988301 -0.90553,-0.988304 V 27.486769 14.121424 H 97.965702 44.519871 v 95.117706 95.1177 h 67.865619 67.86562 z m -72.23124,52.11454 c -14.45443,-0.9734 -27.519451,-6.28738 -38.99085,-15.8589 -3.398189,-2.83538 -3.340904,-3.35915 0.580258,-5.30554 2.432714,-1.20754 3.141535,-1.72117 5.114234,-3.70589 3.15717,-3.17641 4.773517,-6.50731 5.3956,-11.11901 l 0.161301,-1.19579 -1.806834,-1.23512 c -2.690741,-1.83934 -4.485349,-4.43377 -5.086541,-7.35351 -0.164798,-0.80037 -1.381291,-9.41001 -2.703314,-19.13255 -2.300387,-16.917709 -2.383737,-17.699373 -1.939633,-18.190104 0.59555,-0.658077 1.562565,-0.655142 2.224463,0.0067 0.285731,0.285732 0.571632,0.43456 0.63533,0.330729 0.0637,-0.103833 0.417262,-1.379413 0.785699,-2.834621 2.663902,-10.521598 8.609954,-20.610813 16.349212,-27.74122 3.976777,-3.663921 6.777442,-5.451244 13.470835,-8.596796 3.66942,-1.724435 5.61982,-3.962127 7.9125,-9.078018 1.85016,-4.128452 2.94115,-4.128452 4.79131,0 2.29268,5.115891 4.24308,7.353583 7.91249,9.078018 4.71327,2.214991 6.68406,3.295983 8.93412,4.900422 9.87055,7.038334 17.70246,18.826013 20.8876,31.437594 0.36752,1.455208 0.72034,2.730788 0.78403,2.834621 0.0637,0.103831 0.3496,-0.045 0.63533,-0.330729 0.66216,-0.662154 1.62898,-0.664765 2.22513,-0.006 0.44356,0.490125 0.43988,0.691862 -0.0808,4.431771 -0.30005,2.155047 -1.44245,10.466703 -2.53867,18.470353 -1.09621,8.00365 -2.0981,14.91623 -2.2264,15.36129 -0.68385,2.37219 -2.54096,4.81018 -4.88425,6.41201 l -1.80683,1.23512 0.1613,1.19579 c 0.33998,2.52043 0.76499,3.92461 1.91538,6.32829 0.99878,2.08688 1.55829,2.85708 3.48022,4.79072 1.9727,1.98472 2.68152,2.49835 5.11423,3.7059 3.92116,1.94638 3.97845,2.47015 0.58026,5.30554 -8.90647,7.43138 -18.35127,12.10175 -29.36327,14.51989 -5.35764,1.17648 -12.94061,1.72169 -18.62341,1.339 z m 13.33121,-3.57451 c 9.31046,-1.30696 17.87542,-4.47894 25.70761,-9.52066 2.80017,-1.80252 6.73409,-4.82326 6.73409,-5.17091 0,-0.13466 -0.50601,-0.50226 -1.12448,-0.81688 -2.794,-1.42135 -5.89591,-4.42799 -7.85461,-7.61338 -0.9096,-1.47926 -2.33823,-5.32448 -2.78721,-7.5019 -0.0825,-0.40018 -0.26121,-0.72761 -0.39709,-0.72761 -0.13588,0 -6.63398,4.22672 -14.44022,9.39271 -7.80624,5.16599 -14.40837,9.39271 -14.67139,9.39271 -0.26302,0 -6.86514,-4.22672 -14.671379,-9.39271 -7.80624,-5.16599 -14.304343,-9.39271 -14.440225,-9.39271 -0.135882,0 -0.314573,0.32743 -0.397089,0.72761 -0.448979,2.17742 -1.87761,6.02264 -2.787211,7.5019 -1.958699,3.18539 -5.060611,6.19203 -7.854611,7.61338 -0.618463,0.31462 -1.124479,0.68222 -1.124479,0.81688 0,0.34765 3.93392,3.36839 6.73409,5.17091 9.173041,5.90485 18.812266,9.06805 30.572154,10.03252 2.29341,0.18809 10.01513,-0.12065 12.80205,-0.51186 z m 8.14521,-27.20554 c 17.90963,-11.88289 18.05958,-12.00082 18.87149,-14.84108 0.37304,-1.30496 4.3848,-29.56311 4.22273,-29.74408 -0.0445,-0.0497 -0.74943,0.81348 -1.56643,1.91823 -1.07605,1.45503 -1.64667,2.0076 -2.07036,2.00487 -0.32169,-0.002 -8.65138,-1.53467 -18.51042,-3.40578 l -17.92552,-3.402016 -17.925516,3.402016 c -9.859036,1.87111 -18.188724,3.40371 -18.510418,3.40578 -0.423691,0.003 -0.994309,-0.54984 -2.070354,-2.00487 -0.817001,-1.10475 -1.521727,-1.96796 -1.566058,-1.91823 -0.16424,0.18423 3.844345,28.45002 4.218233,29.74408 0.822156,2.84556 0.960972,2.95464 19.008182,14.93671 9.192501,6.10318 16.832711,11.05382 16.978231,11.00142 0.14552,-0.0524 7.72632,-5.04606 16.84621,-11.09705 z m -18.56601,-20.02079 v -24.60625 h 1.5875 1.5875 v 24.60625 24.60624 h -1.5875 -1.5875 z m -9.65427,19.93903 c -0.72594,-0.49036 -1.402186,-1.09936 -1.502757,-1.35333 -0.269859,-0.68144 -0.251746,-39.55725 0.01863,-39.9841 0.126817,-0.20022 0.809597,-0.51107 1.517297,-0.69079 l 1.28672,-0.32677 0.0691,10.8111 c 0.038,5.94611 0.038,15.67659 0,21.62329 l -0.0691,10.81218 z m 21.03136,-20.70289 v -21.67 l 0.99218,0.23041 c 0.54571,0.12672 1.07299,0.23325 1.17173,0.23672 0.0988,0.003 0.36664,0.19341 0.59531,0.42208 0.37048,0.37048 0.41578,2.54563 0.41578,19.9636 0,13.14805 -0.0914,19.74679 -0.27908,20.15558 -0.15349,0.33426 -0.86786,0.99562 -1.5875,1.46969 l -1.30842,0.86192 z m -36.176631,10.68454 c -0.757272,-0.50997 -1.499822,-1.15699 -1.650114,-1.43781 -0.177313,-0.33131 -0.273256,-5.07295 -0.273256,-13.50459 v -12.994 l 0.649433,-0.64943 c 0.357188,-0.35719 0.863203,-0.65106 1.124479,-0.65305 0.261276,-0.002 0.713171,-0.0676 1.004213,-0.14582 0.524685,-0.14101 0.529167,-0.0132 0.529167,15.08488 0,8.3749 -0.0016,15.22708 -0.0035,15.22707 -0.0019,-1e-5 -0.623117,-0.41727 -1.380389,-0.92725 z M 137.6532,120.45561 c 0,-13.66924 0.0399,-15.09425 0.41852,-14.94896 0.23018,0.0883 0.65231,0.1606 0.93806,0.1606 0.28576,0 0.8118,0.29225 1.16899,0.64944 l 0.64943,0.64943 v 12.82709 c 0,7.3821 -0.10577,13.10529 -0.24917,13.48246 -0.21146,0.55618 -2.31238,2.2895 -2.77507,2.2895 -0.0829,0 -0.15076,-6.7993 -0.15076,-15.10956 z M 80.370911,100.50509 c 1.309687,-0.23761 2.939663,-0.550876 3.622172,-0.696159 l 1.24092,-0.264144 0.082,-5.032457 c 0.07725,-4.741648 0.114109,-5.058431 0.637733,-5.481944 0.380039,-0.307379 4.667101,-1.229283 13.559895,-2.915962 l 13.004149,-2.466469 13.00416,2.466469 c 8.89279,1.686679 13.17986,2.608583 13.5599,2.915962 0.52376,0.423627 0.56046,0.740103 0.63792,5.500471 0.0452,2.778037 0.10473,5.052009 0.13229,5.053266 0.0276,0.0013 1.83591,0.34843 4.01856,0.771497 2.37046,0.45947 4.08213,0.67487 4.25075,0.53492 0.15527,-0.12886 0.83458,-1.04158 1.50957,-2.028267 l 1.22727,-1.793978 -0.39654,-2.248958 c -0.91189,-5.171731 -2.28683,-9.381691 -4.62299,-14.155208 -0.85462,-1.74625 -1.79581,-3.589861 -2.09153,-4.096914 -0.29573,-0.507052 -0.53769,-1.123489 -0.53769,-1.369859 0,-0.246369 -0.26789,-0.664945 -0.59531,-0.930169 -0.32742,-0.265223 -1.2791,-1.400103 -2.11485,-2.521958 -4.13421,-5.54955 -9.4026,-10.269198 -14.35546,-12.860257 -0.87313,-0.456769 -2.89719,-1.441569 -4.49792,-2.18844 -2.64493,-1.234078 -3.12108,-1.572533 -5.21984,-3.710281 l -2.30941,-2.352328 h -1.59888 -1.59887 l -2.30942,2.352328 c -2.09875,2.137748 -2.5749,2.476203 -5.21983,3.710281 -5.900126,2.752899 -8.284614,4.236275 -11.825697,7.356694 -3.093265,2.725798 -8.679508,9.234651 -8.679508,10.112991 0,0.154112 -0.11086,0.280204 -0.246353,0.280204 -0.273772,0 -1.099585,1.497645 -3.428484,6.217708 -2.342174,4.746966 -3.730548,8.990298 -4.631441,14.155208 -0.439359,2.518886 -0.524597,2.234324 1.489697,4.973235 0.713766,0.970538 1.167598,1.361878 1.4762,1.272938 0.245076,-0.0706 1.517152,-0.32282 2.82684,-0.56042 z m 32.146869,-5.932517 c 0.50933,0 6.08734,0.986904 12.39559,2.193121 7.83822,1.498767 11.50564,2.099043 11.58356,1.895972 0.0627,-0.163433 0.0806,-1.887564 0.0398,-3.831404 l -0.0742,-3.534251 -11.50937,-2.197106 c -6.33016,-1.20841 -11.92609,-2.197107 -12.43542,-2.197107 -0.50932,0 -6.10526,0.988697 -12.43541,2.197107 l -11.509376,2.197106 -0.07419,3.534251 c -0.04081,1.94384 -0.02289,3.667971 0.03983,3.831404 0.07793,0.203071 3.745346,-0.397205 11.583566,-1.895972 6.30825,-1.206217 11.88626,-2.193121 12.39558,-2.193121 z m -74.083325,7.846257 c 0,-83.553956 0.04065,-92.7356162 0.412935,-93.2671297 C 39.876071,7.6830538 36.540821,7.7714246 90.941105,7.7714246 H 141.09278 V 6.3162164 4.8610081 H 87.646952 34.201122 V 99.978712 195.09642 h 2.116666 2.116667 z M 175.48861,36.41403 c 0,-0.259432 -17.53236,-17.794689 -17.79174,-17.794689 -0.10996,0 -0.19992,4.048125 -0.19992,8.995833 v 8.995833 h 8.99583 c 4.94771,0 8.99583,-0.08864 8.99583,-0.196977 z"
              style="stroke-width:0.26458332"/>
    </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-40 -4 202 214" height="0" style="position: absolute">
    <g id="id_hero_creator">
        <path id="path859"
              d="m -26.741815,208.87041 c -0.291041,-0.11912 -0.767291,-0.48074 -1.058333,-0.8036 -0.460748,-0.51111 -0.546272,-1.07106 -0.661458,-4.33071 l -0.132292,-3.74369 -4.321836,-0.13229 -4.321837,-0.13229 -0.771392,-0.86408 -0.771393,-0.86406 V 98.447111 c 0,-89.7839102 0.04052,-99.6104236 0.412935,-100.142125 1.031537,-1.4727199 -2.927926,-1.3802756 59.118312,-1.3802756 49.104849,0 57.277135,0.053481 57.890741,0.3788439 0.392956,0.2083641 2.559933,2.23772113 4.815506,4.5096849 2.480961,2.4989868 4.519128,4.3238497 5.159375,4.6194237 0.723945,0.3342084 5.760685,5.2017691 15.941147,15.4056861 l 14.88281,14.917108 v 13.987255 c 0,13.870352 -0.005,14.000194 -0.59531,15.534909 -0.32742,0.85121 -0.75117,1.5494 -0.94166,1.551535 -0.19049,0.0021 -0.28475,-0.09577 -0.20947,-0.21758 0.0753,-0.121806 -0.0435,-0.478994 -0.26397,-0.79375 -0.66424,-0.948335 -1.51505,-0.71651 -2.85986,0.779246 l -1.21515,1.351534 V 55.161656 41.374708 h -13.10537 c -14.383397,0 -14.523766,-0.01423 -15.31976,-1.553517 -0.360013,-0.696187 -0.414449,-2.540759 -0.414449,-14.043759 V 12.535126 H 31.069641 -22.37619 v 95.117704 95.1177 h 39.658053 39.658052 l 0.175562,0.93583 c 0.245165,1.30684 2.080606,3.16122 3.506157,3.54233 0.786723,0.21032 7.300502,0.27555 22.400786,0.2243 l 21.2915,-0.0722 1.14381,-0.804 c 0.75389,-0.52992 1.40726,-1.31913 1.91662,-2.3151 l 0.77281,-1.51111 h 2.60395 2.60394 v -28.60295 -28.60295 l 0.66146,-0.7861 c 0.3638,-0.43235 0.66146,-0.90143 0.66146,-1.0424 0,-0.14097 -0.29226,-0.54857 -0.64946,-0.90578 l -0.64947,-0.64946 2.03853,-1.36564 c 1.12119,-0.75111 2.45524,-1.7261 2.96457,-2.16664 l 0.92604,-0.801 0.0676,34.64428 c 0.0651,33.36533 0.0495,34.66869 -0.42238,35.30573 -0.26951,0.3638 -0.7762,0.80853 -1.12598,0.98828 -0.50028,0.25711 -15.93172,0.32409 -72.338028,0.31396 -39.4361442,-0.007 -71.940205,-0.11033 -72.231247,-0.22945 z m -1.719791,-108.03787 c 0,-83.553964 0.04065,-92.7356242 0.412935,-93.2671377 C -27.01999,6.0967558 -30.35524,6.1851266 24.045044,6.1851266 H 74.196722 V 4.7299184 3.2747101 H 20.750891 -32.694939 V 98.392414 193.51012 h 2.116666 2.116667 z M 99.861304,26.161167 c -4.873318,-4.874947 -8.950542,-8.863541 -9.060497,-8.863541 -0.246113,0 -0.269314,17.304911 -0.02352,17.550693 0.097,0.09702 4.174228,0.17639 9.06049,0.17639 h 8.884103 z M 61.784481,206.22444 c -0.204634,-0.12647 -0.507744,-0.17788 -0.673577,-0.11425 -0.406373,0.15594 -2.15982,-1.43274 -2.637236,-2.38943 -0.264361,-0.52975 -0.34738,-1.31304 -0.266401,-2.51354 0.0647,-0.95919 0.176463,-2.63695 0.248364,-3.72835 0.203491,-3.08893 0.63894,-6.96014 1.201684,-10.68319 0.339982,-2.24927 0.699993,-3.70647 1.059371,-4.28796 0.299408,-0.48445 1.144225,-1.42013 1.877372,-2.0793 1.161349,-1.04415 1.781252,-1.33943 4.814184,-2.29313 1.914654,-0.60206 3.600251,-1.12432 3.745772,-1.16057 0.145521,-0.0362 0.651536,-0.1555 1.124479,-0.265 l 0.859896,-0.19908 v -3.37441 -3.37441 l -0.825043,-0.34175 c -0.856368,-0.35472 -1.818081,-1.63638 -1.819801,-2.42522 -0.0016,-0.73004 1.559121,-2.32431 2.275377,-2.32431 0.348729,0 0.633944,-0.0893 0.633814,-0.19844 -1.29e-4,-0.10914 2.464409,-0.19844 5.476753,-0.19844 h 5.476989 l 1.222404,-3.57187 c 0.672322,-1.96454 1.558914,-4.46485 1.970204,-5.55625 0.411292,-1.09141 0.748773,-2.2225 0.749956,-2.51355 0.0011,-0.29104 -0.728715,-3.36468 -1.622002,-6.83032 -1.135954,-4.40711 -1.676897,-7.05149 -1.799621,-8.7974 -0.100542,-1.43031 -0.07406,-2.49135 0.06202,-2.48479 0.130619,0.006 0.819102,1.01175 1.529963,2.23435 1.280838,2.2029 2.014818,2.94608 2.014818,2.04007 0,-0.25303 -0.238678,-1.32134 -0.530397,-2.37404 -0.291719,-1.05271 -0.657682,-2.71719 -0.813252,-3.69885 -0.361514,-2.28122 -0.363392,-6.83369 -0.0038,-9.09943 0.302956,-1.90863 1.760495,-6.20849 2.195687,-6.47745 0.381299,-0.23566 0.730409,0.4203 0.735166,1.38134 0.0046,0.93614 0.875876,3.61997 1.468995,4.52519 0.219636,0.3352 0.507826,0.60946 0.640422,0.60946 0.137104,0 0.251616,-2.53911 0.265501,-5.88698 0.01344,-3.23784 0.09208,-6.60135 0.174784,-7.47448 0.197596,-2.08612 1.480481,-6.80843 2.659486,-9.78958 0.902491,-2.281983 3.005232,-6.305433 4.129195,-7.900929 0.399825,-0.56756 0.582332,-0.666951 0.728793,-0.396875 0.10746,0.198168 0.27692,1.967648 0.37658,3.93218 0.19863,3.915464 0.31128,4.637964 0.84457,5.416684 0.33247,0.4855 0.35882,0.45782 0.37777,-0.39687 0.031,-1.397854 0.22715,-3.063689 0.66201,-5.622234 1.23322,-7.255777 3.8642,-13.76351 8.20685,-20.299663 2.15376,-3.241619 5.17269,-7.202474 5.5967,-7.342899 0.2386,-0.07902 0.34227,0.357275 0.37214,1.566164 0.0228,0.921631 0.0739,1.97335 0.11356,2.337152 0.0397,0.363802 0.1508,1.435283 0.24694,2.381067 0.20098,1.977208 0.50174,2.76369 0.75011,1.96151 0.0862,-0.278365 0.2076,-0.922838 0.2698,-1.43216 0.33246,-2.72229 1.05317,-5.2074 2.53217,-8.73125 1.17707,-2.804483 2.24263,-4.625633 3.89613,-6.658901 2.07136,-2.54709 6.52727,-6.74494 8.86991,-8.356202 1.11076,-0.763985 2.0811,-1.389063 2.1563,-1.389063 0.0752,0 0.0323,0.364117 -0.0953,0.809146 -0.31475,1.097455 -0.44506,5.519669 -0.16517,5.604843 0.12346,0.03757 0.55111,-0.824666 0.95034,-1.916072 0.39924,-1.091407 1.25009,-2.860842 1.89079,-3.932079 2.1962,-3.671988 5.65996,-6.840931 9.66969,-8.846655 1.95769,-0.979266 6.41817,-2.681306 6.58627,-2.513209 0.1014,0.101405 -2.20143,3.717653 -2.79892,4.395288 -0.43318,0.491281 -0.0904,0.726813 0.4297,0.295208 0.23732,-0.196955 0.64283,-0.481814 0.90113,-0.633015 0.2583,-0.151202 1.16834,-0.76477 2.0223,-1.363483 0.85396,-0.598715 2.40471,-1.517327 3.4461,-2.041361 1.45504,-0.732186 1.92564,-0.868849 2.03255,-0.590245 0.18021,0.469593 -0.40889,3.250618 -1.15232,5.439968 -0.85453,2.516539 -2.68582,6.32035 -3.9007,8.102232 -0.58313,0.855281 -1.78849,2.347219 -2.67858,3.315416 -0.89009,0.968195 -1.61835,1.89093 -1.61835,2.050521 0,0.731155 2.07396,0.04775 4.4312,-1.460158 l 1.41548,-0.905473 -0.16371,0.997169 c -1.08819,6.628347 -4.49529,13.261456 -9.02109,17.5627 -0.85897,0.816358 -2.51312,2.100302 -3.67589,2.853213 l -2.11411,1.368928 1.46413,-0.143547 c 1.84677,-0.181057 4.52895,-0.942557 6.29222,-1.78643 l 1.3612,-0.651446 -0.16685,0.664768 c -0.32781,1.306121 -2.5419,6.561381 -3.97107,9.425582 -1.66856,3.34395 -3.66374,6.479162 -5.53389,8.69592 -1.68023,1.991638 -5.15095,4.882803 -7.5811,6.31518 -1.05535,0.62204 -2.07614,1.28236 -2.26844,1.46737 -0.28632,0.27548 -0.22364,0.33639 0.3462,0.33639 1.45888,0 4.51365,-0.60731 6.14679,-1.22202 l 1.70071,-0.64015 -0.18124,0.60035 c -0.0997,0.3302 -0.92017,2.21538 -1.8233,4.18931 -4.21476,9.21193 -9.70628,16.22833 -16.42987,20.99212 -1.59687,1.13141 -3.29036,2.21893 -3.7633,2.4167 -0.47295,0.19778 -0.8599,0.44139 -0.8599,0.54136 0,0.1 0.56555,0.0953 1.25677,-0.0105 0.69123,-0.10571 1.67349,-0.24429 2.18281,-0.30795 1.33747,-0.16718 3.39342,-0.85733 4.73659,-1.59 0.6406,-0.34943 1.21983,-0.58021 1.28719,-0.51285 0.21644,0.21644 -1.70818,3.41892 -3.11592,5.18472 -1.35008,1.6935 -3.72274,4.24702 -4.66815,5.02401 -0.26877,0.22088 -1.26257,0.93526 -2.20846,1.5875 -0.94588,0.65224 -1.77932,1.24771 -1.85208,1.32327 -0.19753,0.20513 -7.45038,3.61389 -8.11204,3.81257 -0.31428,0.0944 -0.71582,0.34557 -0.8923,0.55822 -0.27261,0.32848 -0.15683,0.38662 0.76986,0.38662 0.5999,0 1.09075,-0.0893 1.09079,-0.19843 3e-5,-0.10914 0.44651,-0.19417 0.99218,-0.18895 0.96643,0.009 2.82739,-0.22573 4.43172,-0.55956 0.77927,-0.16215 0.76962,-0.1401 -0.52917,1.20835 -1.74564,1.81241 -4.09328,3.47946 -6.50577,4.61971 -1.07849,0.50975 -3.80636,1.63845 -6.061939,2.50823 -3.208729,1.23734 -4.119764,1.49723 -4.187092,1.19447 -0.16814,-0.75612 7.509601,-19.28181 12.329711,-29.75048 2.96995,-6.45036 10.21931,-21.20847 11.632,-23.680209 0.58219,-1.018646 2.69546,-4.888177 4.69615,-8.598958 4.04587,-7.504091 10.49325,-19.155425 14.46568,-26.141549 1.43173,-2.517902 2.60314,-4.651033 2.60314,-4.740291 0,-0.08925 0.53578,-1.021908 1.19062,-2.072563 2.14287,-3.438096 1.29385,-2.884048 -1.46848,0.958292 -2.20591,3.068359 -7.44765,11.541204 -12.09416,19.549186 -5.31599,9.161795 -6.8488,11.939293 -12.56364,22.765682 -0.72975,1.38244 -1.84222,3.4086 -2.47217,4.50256 -1.46691,2.54743 -8.17997,16.23756 -10.83105,22.08806 -2.659216,5.86844 -7.849465,18.02708 -9.769713,22.88646 -0.833816,2.11005 -1.813867,4.55083 -2.177891,5.42395 -1.865009,4.4733 -2.994769,7.30367 -2.994769,7.50274 0,0.1221 0.773885,0.21034 1.719747,0.19609 0.945859,-0.0143 1.719765,0.0482 1.719791,0.13871 2.4e-5,0.0905 0.469803,0.23974 1.043951,0.33155 1.220988,0.19524 1.866511,0.95203 1.866511,2.18823 0,0.90339 -0.998199,2.33625 -1.806197,2.5927 -0.40101,0.12728 -0.467876,0.58026 -0.521107,3.53019 l -0.06107,3.38418 1.260333,0.3287 c 0.693181,0.18078 2.77645,0.80571 4.62948,1.38873 3.124694,0.98313 3.483414,1.16583 4.943904,2.51799 1.15163,1.0662 1.68801,1.79891 1.99625,2.72695 0.40626,1.22314 1.06639,5.57306 1.3482,8.88407 0.0747,0.87748 0.26067,2.66698 0.4133,3.97667 0.39005,3.34694 0.30313,6.90082 -0.19219,7.85867 -0.3679,0.71143 -1.73637,1.73165 -2.7396,2.04242 -0.75404,0.23358 -41.150906,0.26773 -41.527294,0.0351 z M 40.065474,174.15949 c -3.083071,-0.25191 -7.746159,-1.03346 -10.980208,-1.84033 -3.388574,-0.84541 -6.907493,-2.06045 -10.31875,-3.56292 -4.013705,-1.76781 -6.899423,-3.35254 -10.5833325,-5.81195 -3.324037,-2.21917 -7.89625637,-5.92179 -8.34271426,-6.756 -0.16568208,-0.30958 -0.23004197,-0.84655 -0.14302316,-1.19326 0.11745912,-0.46799 0.6598073,-0.86214 2.10527092,-1.52998 1.0708772,-0.49478 2.6611791,-1.38455 3.5339998,-1.97727 1.9745403,-1.34089 4.3309432,-3.91248 5.4974802,-5.99954 1.0771,-1.92703 2.109954,-5.0406 2.325894,-7.01145 l 0.159443,-1.45521 -1.596795,-1.05833 C 9.7297471,134.64232 8.2863789,132.954 7.2418834,130.72197 6.4831457,129.10058 6.2799298,127.87869 3.9348882,110.83752 2.5606689,100.85122 1.4363088,92.406647 1.4363088,92.071793 c 0,-1.28108 1.7021016,-1.941777 2.6927677,-1.045236 0.2670122,0.241641 0.5216233,0.390469 0.5658008,0.330729 0.04418,-0.05974 0.3955124,-1.380061 0.7807404,-2.934041 0.9123521,-3.680357 2.24509,-7.256647 4.1887376,-11.240121 1.6648797,-3.412149 4.6544677,-8.090791 6.9889607,-10.937584 2.124982,-2.591305 5.838848,-6.238049 8.066325,-7.920539 2.921106,-2.206411 4.98018,-3.430659 9.260609,-5.506014 3.192801,-1.548021 4.093985,-2.120154 5.372764,-3.410995 1.244748,-1.25649 1.884212,-2.263169 3.367728,-5.301662 1.243832,-2.547583 2.002798,-3.805126 2.366105,-3.920434 1.161325,-0.368591 1.568773,0.09632 3.435858,3.920434 1.483516,3.038493 2.122979,4.045172 3.367727,5.301662 1.278779,1.290841 2.179963,1.862974 5.372764,3.410995 4.280429,2.075355 6.339504,3.299603 9.26061,5.506014 2.227476,1.68249 5.941342,5.329234 8.066325,7.920539 2.334493,2.846793 5.32408,7.525435 6.98896,10.937584 1.943648,3.983474 3.276386,7.559764 4.188738,11.240121 0.385228,1.55398 0.73656,2.874298 0.78074,2.934041 0.04418,0.05974 0.298789,-0.08909 0.565801,-0.330729 0.993444,-0.899057 2.692768,-0.23472 2.692768,1.052711 0,0.288396 -1.125876,8.715522 -2.501945,18.726952 -2.345402,17.06367 -2.552316,18.31023 -3.306995,19.92294 -1.041255,2.22511 -2.486329,3.91437 -4.477491,5.23409 l -1.596795,1.05833 0.159444,1.45521 c 0.215738,1.96901 1.247912,5.08204 2.326163,7.01567 1.09506,1.96378 3.711456,4.85734 5.298906,5.86024 0.7493,0.47338 1.187524,0.94209 1.187823,1.27045 2.62e-4,0.28618 -0.190879,1.02137 -0.424752,1.63375 l -0.425225,1.11344 -1.360712,-0.82104 c -1.805914,-1.08967 -5.636151,-4.99497 -6.746203,-6.8784 -1.157703,-1.96429 -2.105313,-4.33557 -2.635692,-6.59552 -0.291282,-1.24116 -0.533042,-1.77709 -0.762007,-1.68923 -0.184449,0.0708 -6.627916,4.30044 -14.318811,9.39925 -8.362063,5.54377 -14.231751,9.27055 -14.601123,9.27055 -0.369371,0 -6.23906,-3.72678 -14.601123,-9.27055 -7.690895,-5.09881 -14.134361,-9.32847 -14.31881,-9.39925 -0.228965,-0.0879 -0.470725,0.44807 -0.762008,1.68923 -0.529267,2.25521 -1.475441,4.62506 -2.635692,6.60153 -1.213101,2.0665 -5.2586883,6.05844 -7.3008535,7.20404 -0.9079282,0.50933 -1.6520688,1.00046 -1.6536457,1.09142 -0.00159,0.091 0.9693195,0.91746 2.1575447,1.83666 5.9844535,4.62953 12.8051795,8.19034 19.9322975,10.40581 6.477007,2.01338 12.149099,2.85867 19.18229,2.85867 5.133197,0 9.228008,-0.4188 13.758333,-1.40713 2.812923,-0.61367 8.212502,-2.22934 9.326562,-2.79071 0.720897,-0.36326 0.727604,-0.35858 0.727604,0.50732 0,0.48069 0.185492,1.13879 0.412202,1.46247 0.226714,0.32368 0.344588,0.69791 0.261946,0.83163 -0.185015,0.29935 -5.07919,1.92585 -7.950189,2.6421 -5.201383,1.29763 -12.444558,2.18524 -17.170193,2.10411 -1.179414,-0.0203 -3.394546,-0.13896 -4.922514,-0.26381 z m 22.430815,-30.74504 c 9.715793,-6.45533 17.097237,-11.53184 17.42014,-11.98052 0.80066,-1.11253 1.597313,-2.7493 1.787625,-3.67277 0.08997,-0.43656 0.99731,-6.86593 2.01631,-14.2875 1.019003,-7.42156 1.91172,-13.791403 1.983817,-14.155205 0.128571,-0.648761 0.118618,-0.646221 -0.518494,0.132292 -0.357269,0.436563 -1.046196,1.329533 -1.530953,1.984373 -0.657127,0.8877 -1.080489,1.2068 -1.663964,1.25419 -0.430424,0.035 -8.789543,-1.4608 -18.575818,-3.323923 L 45.621723,95.977893 27.828495,99.365387 C 18.042219,101.22851 9.683101,102.72428 9.2526769,102.68931 8.6692019,102.64192 8.2458395,102.32282 7.5887124,101.43512 7.1039561,100.78028 6.4150287,99.88731 6.0577592,99.450747 5.4206479,98.672234 5.4106943,98.669694 5.5392659,99.318455 c 0.072096,0.363802 0.9648136,6.733645 1.9838166,14.155205 1.0190003,7.42157 1.9264814,13.85094 2.0166197,14.2875 0.2059649,0.99754 1.2020288,2.94512 2.0019878,3.91445 0.335635,0.40669 8.11118,5.72743 17.278992,11.82387 9.167813,6.09643 16.701836,11.09173 16.742275,11.10066 0.04044,0.009 7.660441,-5.02464 16.933332,-11.18569 z M 43.89854,141.22636 c -0.107487,-3.72649 -0.123381,-13.10266 -0.03532,-20.83594 0.08806,-7.73328 0.16256,-15.75715 0.165555,-17.83082 l 0.0054,-3.770311 h 1.5875 1.5875 v 24.606251 24.60625 h -1.557626 -1.557628 z m -9.55322,2.16384 c -0.74499,-0.50171 -1.429599,-1.10784 -1.521354,-1.34695 -0.09175,-0.23911 -0.166825,-9.2724 -0.166825,-20.07399 0,-15.52171 0.07088,-19.73619 0.338087,-20.10161 0.304853,-0.41691 2.499757,-1.12246 2.741096,-0.88112 0.05441,0.0544 0.06846,9.82274 0.03123,21.70741 l -0.0677,21.60848 z m 21.065986,-20.80431 v -21.74165 l 0.595313,0.15953 c 0.327422,0.0877 0.803671,0.16117 1.058333,0.16316 0.254661,0.002 0.701146,0.24173 0.992187,0.53278 0.519772,0.51977 0.529167,0.88194 0.529167,20.39905 v 19.86989 l -0.760711,0.70146 c -0.418391,0.38581 -1.132766,0.91656 -1.5875,1.17945 l -0.826789,0.47798 z m -36.176628,10.73033 c -0.757272,-0.50997 -1.499822,-1.15699 -1.650114,-1.43781 -0.177368,-0.33142 -0.273256,-5.0947 -0.273256,-13.57428 0,-10.17946 0.07458,-13.1657 0.337815,-13.52569 0.287475,-0.39315 1.82033,-0.93475 2.704893,-0.95572 0.173395,-0.004 0.264584,5.23712 0.264584,15.20726 0,8.36744 -0.0016,15.21351 -0.0035,15.2135 -0.0019,-2e-5 -0.623117,-0.41728 -1.380389,-0.92726 z m 51.522461,-14.44946 v -15.1121 l 0.595312,0.15953 c 0.327422,0.0877 0.803672,0.16117 1.058334,0.16315 0.254661,0.002 0.701145,0.24174 0.992187,0.53278 0.514932,0.51493 0.529167,0.88195 0.529167,13.64344 0,8.36602 -0.09724,13.29595 -0.26855,13.61606 -0.245541,0.4588 -2.401818,2.10925 -2.755685,2.10925 -0.08292,0 -0.150765,-6.80045 -0.150765,-15.11211 z M 15.325864,98.491222 18.369641,97.918153 v -4.706582 c 0,-2.58862 0.109943,-4.995751 0.244317,-5.349182 0.134371,-0.353428 0.402261,-0.702066 0.595312,-0.774755 0.193048,-0.07269 6.214824,-1.243804 13.381725,-2.602484 l 13.030728,-2.47033 13.030729,2.467078 c 7.166901,1.356892 13.225393,2.568162 13.463314,2.691712 0.237924,0.123553 0.512723,0.543925 0.610666,0.934164 0.09794,0.39024 0.182116,2.759279 0.187048,5.264531 l 0.009,4.555008 3.019457,0.568487 c 1.660699,0.312668 3.530951,0.638598 4.156114,0.724286 l 1.136661,0.155795 1.337656,-1.946942 1.337657,-1.946942 -0.45402,-2.645833 C 82.493981,87.230088 80.485971,81.705916 77.252694,75.77054 76.737426,74.824655 76.315291,73.85103 76.314616,73.606931 76.313822,73.362832 76.01986,72.932225 75.661103,72.650026 75.302344,72.367826 74.275221,71.138795 73.378606,69.918843 71.101002,66.819887 65.574851,61.414564 62.668327,59.442735 61.348178,58.547126 58.431146,56.926122 56.186035,55.840502 51.963624,53.798763 49.764971,52.212705 48.178522,50.064069 47.4355,49.057742 47.410047,49.047625 45.621723,49.047625 h -1.806305 l -0.805209,1.094914 c -1.553424,2.112327 -3.688162,3.643 -7.919674,5.678649 -2.226895,1.07129 -5.143926,2.690778 -6.482292,3.598862 -2.892769,1.962748 -8.420081,7.352067 -10.663597,10.397365 -0.85766,1.164167 -1.648676,2.156354 -1.757817,2.20486 -0.109141,0.04851 -0.198438,0.256868 -0.198438,0.463021 0,0.206155 -0.114434,0.374827 -0.254299,0.374827 -0.139866,0 -0.535027,0.565547 -0.878138,1.256771 -0.343112,0.691224 -1.235763,2.427655 -1.983666,3.858736 -2.463358,4.713512 -4.2291555,9.874112 -5.0848153,14.860534 l -0.4540197,2.645833 1.3376565,1.946942 1.3376565,1.946942 1.136661,-0.155795 c 0.625162,-0.08569 2.506358,-0.413679 4.180437,-0.728864 z M 33.44009,95.084593 c 6.178696,-1.163875 11.660431,-2.116137 12.181633,-2.116137 0.521203,0 6.002938,0.952262 12.181633,2.116137 6.178696,1.163873 11.382819,2.116373 11.56472,2.116667 0.248783,5.29e-4 0.330729,-0.912845 0.330729,-3.685807 0,-3.285003 -0.05041,-3.700457 -0.46302,-3.816027 -0.254662,-0.07133 -5.672005,-1.110417 -12.038541,-2.309085 l -11.575521,-2.179394 -11.57552,2.179394 c -6.366536,1.198668 -11.765986,2.232075 -11.998779,2.296464 -0.361466,0.09998 -0.424945,0.657109 -0.434811,3.816027 -0.0081,2.605839 0.07785,3.698801 0.290967,3.698428 0.166386,-2.65e-4 5.357815,-0.952794 11.53651,-2.116667 z M 79.627088,161.3897 c 1.451684,-0.93133 3.161324,-2.09218 3.7992,-2.57968 0.637878,-0.4875 1.311738,-0.97556 1.497465,-1.08457 0.194011,-0.11388 -0.05138,0.89034 -0.576729,2.36021 -0.502933,1.40714 -0.975457,2.6572 -1.050059,2.77791 -0.0746,0.1207 -1.524715,0.21947 -3.222469,0.21947 h -3.08683 z"
              style="fill:#eec500;stroke-width:0.26458332"/>
        <path id="path855"
              d="m 61.761306,206.21012 c -0.339169,-0.21919 -0.329552,-0.25707 0.06615,-0.26054 0.254661,-0.002 0.46302,0.11502 0.46302,0.26054 0,0.32269 -0.02984,0.32269 -0.529166,0 z m 3.505729,0.0718 c 0.545703,-0.0571 1.438672,-0.0571 1.984375,0 0.545703,0.0571 0.09922,0.10378 -0.992188,0.10378 -1.091406,0 -1.53789,-0.0467 -0.992187,-0.10378 z m 32.940623,10e-4 c 0.472943,-0.0587 1.246849,-0.0587 1.719792,0 0.47294,0.0587 0.08599,0.10672 -0.859896,0.10672 -0.945885,0 -1.332838,-0.048 -0.859896,-0.10672 z m 4.299482,-0.0815 c 0,-0.14095 0.17859,-0.25628 0.39687,-0.25628 0.21828,0 0.39688,0.0468 0.39688,0.10399 0,0.0572 -0.1786,0.17251 -0.39688,0.25628 -0.21828,0.0838 -0.39687,0.037 -0.39687,-0.10399 z m -41.934586,-0.25325 c -0.09269,-0.14998 0.01352,-0.19433 0.248968,-0.10398 0.458369,0.17589 0.542234,0.36554 0.16165,0.36554 -0.136933,0 -0.321713,-0.1177 -0.410618,-0.26156 z m 44.712706,-1.06136 c 0.26339,-0.29104 0.53842,-0.52917 0.61118,-0.52917 0.0728,0 -0.0832,0.23813 -0.34659,0.52917 -0.26339,0.29104 -0.53843,0.52917 -0.61119,0.52917 -0.0728,0 0.0832,-0.23813 0.3466,-0.52917 z m 0.94693,-7.03351 c 0.0127,-0.30822 0.0754,-0.37091 0.15985,-0.15985 0.0764,0.191 0.067,0.4192 -0.0209,0.50712 -0.0879,0.0879 -0.15046,-0.0684 -0.13897,-0.34727 z M 71.252555,168.70543 c -0.329107,-0.41964 -0.319749,-0.429 0.0999,-0.0999 0.254662,0.19972 0.463021,0.40808 0.463021,0.46302 0,0.21776 -0.217273,0.0776 -0.562917,-0.36313 z m 16.862046,-29.3908 c -0.07495,-0.12126 0.03709,-0.22048 0.248968,-0.22048 0.211878,0 0.385236,0.0992 0.385236,0.22048 0,0.12127 -0.112036,0.22049 -0.248968,0.22049 -0.136933,0 -0.31029,-0.0992 -0.385236,-0.22049 z m 30.327379,-2.57846 c 0.2512,-0.26227 0.51368,-0.41989 0.58328,-0.35028 0.0696,0.0696 -0.13591,0.28418 -0.45672,0.47684 -0.55729,0.33467 -0.56293,0.32903 -0.12656,-0.12656 z m -2.70568,-7.11362 c 0,-0.0676 0.21828,-0.2398 0.48507,-0.38258 0.36642,-0.1961 0.48507,-0.16602 0.48507,0.12298 0,0.21043 -0.21828,0.38259 -0.48507,0.38259 -0.26679,0 -0.48507,-0.0554 -0.48507,-0.12299 z m 3.175,-0.40618 c 0.21828,-0.14106 0.51594,-0.25648 0.66146,-0.25648 0.14552,0 0.086,0.11542 -0.13229,0.25648 -0.21828,0.14107 -0.51594,0.25648 -0.66146,0.25648 -0.14552,0 -0.086,-0.11541 0.13229,-0.25648 z m -1.32291,-0.63315 c 0,-0.0572 0.18477,-0.17489 0.41061,-0.26155 0.23546,-0.0904 0.34167,-0.046 0.24897,0.10398 -0.15538,0.25141 -0.65958,0.37186 -0.65958,0.15757 z M 89.848913,118.10387 c 0,-0.3638 0.06006,-0.51263 0.133453,-0.33073 0.0734,0.1819 0.0734,0.47956 0,0.66146 -0.0734,0.1819 -0.133453,0.0331 -0.133453,-0.33073 z m 41.162667,-15.90783 c 0.17948,-0.18082 0.39297,-0.26211 0.47443,-0.18065 0.0815,0.0815 -0.0654,0.2294 -0.32632,0.32876 -0.37708,0.14359 -0.40747,0.1132 -0.14811,-0.14811 z m -30.57933,-4.994251 c 0,-0.363802 0.0601,-0.51263 0.13345,-0.330729 0.0734,0.181901 0.0734,0.479557 0,0.661458 -0.0734,0.181901 -0.13345,0.03307 -0.13345,-0.330729 z m 16.8956,-20.30677 c 0.002,-0.109141 0.11947,-0.377031 0.26054,-0.595312 0.2074,-0.320929 0.25725,-0.282956 0.26053,0.198437 0.002,0.327422 -0.11501,0.595312 -0.26053,0.595312 -0.14552,0 -0.26276,-0.0893 -0.26054,-0.198437 z m -0.49144,-2.182812 c 0,-0.363802 0.0601,-0.512631 0.13345,-0.33073 0.0734,0.181901 0.0734,0.479558 0,0.661459 -0.0734,0.181901 -0.13345,0.03307 -0.13345,-0.330729 z m 1.30203,-1.477256 c 0.0127,-0.308227 0.0754,-0.37092 0.15985,-0.159854 0.0764,0.190995 0.067,0.419201 -0.0209,0.507119 -0.0879,0.08792 -0.15046,-0.06835 -0.13897,-0.347265 z m -1.60839,-0.242536 c 0,-0.218281 0.0468,-0.396875 0.10399,-0.396875 0.0572,0 0.17251,0.178594 0.25628,0.396875 0.0838,0.218281 0.037,0.396875 -0.10399,0.396875 -0.14095,0 -0.25628,-0.178594 -0.25628,-0.396875 z m 1.89386,-1.190625 c 0,-0.363802 0.0601,-0.51263 0.13345,-0.330729 0.0734,0.181901 0.0734,0.479557 0,0.661458 -0.0734,0.181901 -0.13345,0.03307 -0.13345,-0.330729 z m -1.87297,-0.154339 c 0.0127,-0.308227 0.0754,-0.37092 0.15985,-0.159854 0.0764,0.190995 0.067,0.419201 -0.0209,0.507119 -0.0879,0.08792 -0.15046,-0.06835 -0.13897,-0.347265 z m -0.23389,-3.152952 c 0.005,-0.436563 0.0647,-0.583126 0.13177,-0.325695 0.0671,0.257432 0.0627,0.61462 -0.01,0.79375 -0.0725,0.179131 -0.12737,-0.03149 -0.12197,-0.468055 z M 150.6613,58.05176 c 0,-0.140951 0.1786,-0.187746 0.39688,-0.103984 0.21828,0.08376 0.39687,0.199089 0.39687,0.256281 0,0.05719 -0.17859,0.103984 -0.39687,0.103984 -0.21828,0 -0.39688,-0.115327 -0.39688,-0.256281 z m -7.49925,-2.170689 c 0.49094,-0.542478 0.71087,-0.498713 0.48264,0.09605 -0.0824,0.214855 -0.32387,0.390647 -0.5365,0.390647 -0.31954,0 -0.3102,-0.08441 0.0539,-0.486693 z m -8.35486,-2.489869 c 0.0127,-0.308227 0.0754,-0.37092 0.15985,-0.159854 0.0764,0.190995 0.067,0.419201 -0.0209,0.507119 -0.0879,0.08792 -0.15046,-0.06835 -0.13897,-0.347265 z"
              style="fill:#eec500;stroke-width:0.26458332"/>
    </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" style="position: absolute">
    <g id="userIcon">
        <path id="userIconPath"
              d="M 95.17143,296.52962 C 47.592468,292.06788 9.1521123,256.36076 1.4098672,209.43481 -3.9959382,176.67006 6.3077815,143.70298 29.497906,119.56622 c 2.577689,-2.68291 2.774176,-3.03348 2.060714,-3.67672 -0.307966,-0.27766 -0.451089,-0.64669 -0.360762,-0.9302 0.1104,-0.34654 -0.02457,-0.51354 -0.513888,-0.63589 -0.614379,-0.15362 -0.985212,-0.97848 -1.05631,-2.34959 -0.0078,-0.15263 -0.340008,-0.57859 -0.737986,-0.94658 -0.542931,-0.50202 -0.712501,-0.88931 -0.679163,-1.5512 0.02444,-0.48518 -0.0887,-1.63419 -0.251418,-2.55334 -0.162718,-0.91917 -0.228817,-1.77927 -0.146889,-1.91133 0.08193,-0.13206 0.179928,-0.84953 0.217779,-1.59436 0.159494,-3.13832 0.4964,-5.263358 0.901245,-5.684607 1.632676,-1.698818 2.985319,-2.592669 3.923451,-2.592669 0.539296,0 1.09264,-0.111614 1.229656,-0.24803 0.137017,-0.136427 1.370166,-0.382958 2.740332,-0.547842 1.370166,-0.164894 2.609215,-0.389919 2.753442,-0.500052 0.321396,-0.245424 8.200405,-1.059119 9.833723,-1.015565 0.649026,0.01728 2.773112,-0.05687 4.720188,-0.164775 4.045718,-0.224265 3.779058,-0.223041 6.031351,-0.02774 2.796257,0.242512 3.170835,0.302318 5.769117,0.921113 l 2.49121,0.59328 3.636832,-1.206614 c 63.66967,-21.12415 131.03398,22.701541 137.44985,89.421761 6.28257,65.33426 -48.77945,120.31217 -114.33895,114.16432 z m 82.45934,-47.38544 c 20.65605,-26.67531 25.47544,-60.57255 12.99639,-91.41032 -2.1595,-5.33646 -6.00122,-12.5619 -6.51681,-12.25669 -0.60723,0.35944 -1.88972,1.25923 -2.40216,1.68532 -1.73096,1.4393 -11.42378,6.01179 -15.73396,7.42233 -0.57691,0.1888 -2.05197,0.7091 -3.2779,1.1562 -1.22594,0.4471 -2.878,0.98852 -3.67126,1.20314 -0.79326,0.21465 -2.0913,0.63389 -2.88456,0.93167 -0.79326,0.29779 -1.79629,0.59562 -2.22898,0.66184 -0.43268,0.0663 -1.02271,0.22402 -1.31115,0.35066 -0.7442,0.32671 -4.25008,1.22993 -5.57109,1.4353 -0.6122,0.0951 -1.17969,0.28037 -1.26108,0.41155 -0.0813,0.13118 -0.49101,0.23852 -0.91029,0.23852 -0.41927,0 -1.14982,0.16979 -1.62348,0.37733 -0.47362,0.20753 -1.30986,0.44915 -1.85831,0.5369 -1.26814,0.20293 -1.38247,0.53855 -0.81843,2.40269 1.45867,4.82101 -0.0339,19.01951 -2.96056,28.1632 -2.46296,7.69489 -5.07376,12.8888 -9.14307,18.18911 -22.08633,28.76769 -57.609122,9.27757 -61.24426,-33.60261 -0.146168,-1.72422 -0.345859,-3.76162 -0.443752,-4.52753 l -0.177988,-1.39259 -3.93349,-0.0907 c -3.726264,-0.0858 -7.062098,-0.23784 -11.800467,-0.53758 -1.98566,-0.1256 -6.045074,-0.69725 -7.473631,-1.05244 -0.360568,-0.0897 -1.245605,-0.25557 -1.966743,-0.36867 -1.368327,-0.21462 -3.197941,-0.73134 -4.982421,-1.40711 -0.576912,-0.21846 -1.255438,-0.40237 -1.507838,-0.40868 -0.252399,-0.006 -0.458907,-0.12745 -0.458907,-0.2692 0,-0.14176 -0.417152,-0.43138 -0.927003,-0.64362 -0.509853,-0.21223 -1.086708,-0.5371 -1.281901,-0.72193 -0.678788,-0.64276 -1.424181,-1.21168 -1.966073,-1.50061 -0.299865,-0.15988 -0.545212,-0.42424 -0.545212,-0.58749 0,-0.16322 -0.199899,-0.51684 -0.444221,-0.7858 -0.486512,-0.53556 -0.729053,-2.71031 -0.329695,-2.95619 0.137199,-0.0845 0.249452,-0.42812 0.249452,-0.76367 0,-0.33552 0.327616,-0.94578 0.728038,-1.3561 1.196942,-1.22658 4.5341,-4.13492 4.864729,-4.23965 0.16911,-0.0535 0.661482,-0.41711 1.094166,-0.80789 0.432684,-0.39078 1.199714,-0.87046 1.704512,-1.06597 0.504799,-0.1955 1.378037,-0.68427 1.940532,-1.08616 0.562493,-0.40185 1.119518,-0.73065 1.237832,-0.73065 0.118314,0 0.860079,-0.29392 1.648365,-0.65312 0.788284,-0.35921 1.514832,-0.65311 1.614546,-0.65311 0.09972,0 0.903805,-0.33771 1.786874,-0.75045 2.218006,-1.03671 3.876533,-1.72033 4.209706,-1.73519 0.154235,-0.007 0.737357,-0.21457 1.295824,-0.46153 0.558467,-0.24697 1.104258,-0.44903 1.212867,-0.44903 2.440572,0 4.545018,-2.12352 4.650913,-4.69305 0.126596,-3.07185 0.432163,-5.07714 0.857318,-5.62617 0.111264,-0.14368 0.285986,-0.79026 0.388267,-1.43685 0.102281,-0.64659 0.332917,-1.41072 0.512525,-1.6981 0.310546,-0.49687 0.545876,-1.49312 0.833087,-3.52682 0.07102,-0.50289 0.253543,-1.23379 0.4056,-1.6242 0.15206,-0.39041 0.296456,-1.33089 0.320884,-2.08996 0.02441,-0.75907 0.10358,-1.4977 0.175898,-1.64138 0.141427,-0.281 0.07356,-3.6402 -0.129319,-6.40052 -0.06864,-0.93395 -0.125404,-2.09211 -0.126135,-2.57367 -0.0029,-1.9623 -0.41947,-1.90695 -4.348184,0.57784 -6.558972,4.14836 -8.968361,6.17479 -8.81829,7.41669 0.03907,0.32329 -0.05541,0.5878 -0.209967,0.5878 -0.154553,0 -0.281002,0.16238 -0.281002,0.36086 0,0.19848 -0.383514,0.66303 -0.852255,1.03236 -0.468742,0.36931 -1.324276,1.09076 -1.901188,1.60318 -0.576911,0.51244 -1.853069,1.25287 -2.835905,1.64542 -2.016986,0.80558 -4.155219,2.83397 -7.970103,7.56068 -27.2288641,33.73705 -27.5863497,80.28559 -0.880236,114.61648 1.486928,1.91146 1.626456,2.0245 1.779458,1.44162 0.505679,-1.92645 4.458305,-8.50823 7.053311,-11.74494 9.012705,-11.24142 31.173404,-21.91105 33.270256,-16.01849 0.992672,2.78961 1.397413,3.43926 3.505962,5.62745 13.113371,13.60871 51.618364,9.78559 55.335384,-5.4942 0.52859,-2.17294 0.85884,-2.24622 5.53253,-1.22778 12.41271,2.70487 25.07205,11.34717 30.578,20.87503 0.50648,0.87643 1.50336,2.534 2.21531,3.68349 0.71195,1.14948 1.67507,3.05586 2.14029,4.23643 1.00455,2.54919 0.78007,2.62823 3.87045,-1.36272 z M 172.12258,129.1801 c -9.50587,-10.16737 -22.78168,-18.8474 -35.78062,-23.39424 -11.37343,-3.97825 -20.04861,-5.48918 -31.46792,-5.48071 -8.190942,0.006 -17.552483,1.07472 -15.471734,1.76611 1.496108,0.49714 3.984085,1.56623 4.347487,1.86814 0.227699,0.18917 0.549256,0.34394 0.714575,0.34394 0.165318,0 1.100059,0.36395 2.07721,0.80879 3.695422,1.68224 13.070672,6.15332 13.708212,6.53746 0.71802,0.43264 3.62166,1.79736 3.82415,1.79736 0.10955,0 0.42023,0.19931 0.6904,0.4429 0.27018,0.24359 0.74223,0.48103 1.049,0.52768 0.30676,0.0466 0.69188,0.19569 0.85579,0.33122 0.16393,0.13553 1.76626,0.96797 3.56074,1.84987 1.79447,0.88189 3.43968,1.70747 3.65602,1.8346 0.58196,0.342 2.21698,1.21146 3.39636,1.80612 0.56996,0.28737 1.27799,0.52249 1.57339,0.52249 0.29544,0 0.53714,0.16722 0.53714,0.37161 0,0.20439 0.40539,0.5049 0.90089,0.66781 0.49547,0.16291 0.938,0.38516 0.98336,0.49391 0.0454,0.10875 1.02654,0.65263 2.18036,1.20863 1.15382,0.556 2.4111,1.22456 2.79392,1.48569 0.38284,0.26113 0.87849,0.47478 1.10146,0.47478 0.22297,0 0.49976,0.14695 0.61511,0.32656 0.34319,0.53442 4.5833,2.54262 5.71659,2.70747 0.57691,0.0839 1.15307,0.2163 1.28032,0.29417 0.12728,0.0779 3.78543,0.17084 8.12923,0.20656 4.34379,0.0358 8.84184,0.14448 9.99565,0.24165 5.79456,0.48803 7.56704,0.67073 7.68939,0.79263 0.0737,0.0734 0.6094,0.13338 1.19056,0.13338 h 1.05667 z"
              style="stroke-width:0.26173878"/>
    </g>
</svg>

<header class="container-fluid main-header">
    <div class="row pt-1 pb-1">
        {% if request.user.is_authenticated %}
            <a href="{% url 'main_man:index_page' %}" class="col-auto d-flex align-items-center justify-content-center p-0">
                <img class="img-fluid d-none d-sm-flex" id="logotype_stable"
                     src="{% static 'main_man/images/menu/new_logo.png' %}" alt="logo"
                     style="max-height: 80px; height: 75%;"/>
            </a>
        {% else %}
           <a href="{% url 'main_man:index_page' %}" class="col-auto d-flex align-items-center justify-content-center p-0">
                <img class="img-fluid d-sm-flex" id="logotype_stable"
                     src="{% static 'main_man/images/menu/new_logo.png' %}" alt="logo"
                     style="max-height: 80px; height: 75%;"/>
            </a>
        {% endif %}
        {% block header_menu %}
        <div class="col d-flex align-items-center p-0">
            <a class="pr-3 pl-3" id="dice-item" href="{% url 'manage_dices:roll_page' %}">
                <svg class="main-header_svg" viewBox="15 18 185 228">
                    <use xlink:href="#diceIcon"></use>
                </svg>
            </a>
            {% if request.user.is_authenticated %}
            <a class="pr-3 pl-3" id="hero-item" href="{% url 'manage_lists:locale_collection' %}">
                <svg class="main-header_svg" viewBox="28 0 160 210">
                    <use xlink:href="#localIcon"></use>
                </svg>
            </a>
            {% endif %}

            <a class="pr-3 pl-3" id="collection-item" href="{% url 'manage_lists:collection' %}">
                <svg class="main-header_svg" viewBox="-130 13 245 275">
                    <use xlink:href="#globalIcon"></use>
                </svg>
            </a>
        </div>


        {% if request.user.is_authenticated %}
        <div class="col-auto align-bottom d-flex align-items-center">
            <div class="dropdown pr-2">
                <a href="#" class="dropdown-toggle dropdown-toggle-triangle" id="dropdownMenuButton"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="d-inline" id="userIconWrapper">
                        <svg class="main-header_svg" viewBox="-1 85 213 215" style="min-height: 50px; height: 3vw;">
                            <use xlink:href="#userIcon"></use>
                        </svg>
                    </div>
                </a>

                <div class="dropdown-menu dropdown-menu-right mt-4 main-dropdown-menu"
                     aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'main_man:account_page' %}">{{ request.user.username }}</a>
                    <a class="dropdown-item dropdown-menu_item-email">{{ request.user.email }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'main_man:account_settings' %}">Настройки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'main_man:logout' %}">Выход</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock header_menu %}
    </div>
</header>
{% endblock header %}


<!--  Only extend  -->
{% block content %}

{% endblock content %}

<!--  Only extend  -->
{% block integrated_js %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock integrated_js %}


</body>
</html>